openapi: 3.2.0
info:
  title: Qargo TMS API / Task API
  description: For support, please contact integrations@qargo.com.
  version: 1.2.0
servers:
- url: https://api.qargo.com
tags:
- name: API / Task
  description: ''
paths:
  /v1/tasks/available-tasks:
    get:
      tags:
      - API / Task
      summary: List Available Tasks
      operationId: list_available_tasks_v1_tasks_available_tasks_get
      security:
      - oAuth2ClientCredentials: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableTasks'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/tasks/task/{id}:
    get:
      tags:
      - API / Task
      summary: Get Task Detail
      operationId: get_task_detail_v1_tasks_task__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetail'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/tasks/task/{id}/update-status:
    post:
      tags:
      - API / Task
      summary: Update Task Status
      operationId: update_task_status_v1_tasks_task__id__update_status_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
components:
  schemas:
    AvailableTasks:
      properties:
        tasks:
          items:
            $ref: '#/components/schemas/AvailableTask'
          type: array
          title: Tasks
      type: object
      required:
      - tasks
      title: AvailableTasks
    PurchaseInvoice:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Technical id within the Qargo system
        name:
          type: string
          title: Name
          description: Reference from invoicing party
          examples:
          - Credit-Note-0001
        external_name:
          type: string
          title: External Name
          description: Reference from invoicing party
        date:
          type: string
          format: date
          title: Date
          examples:
          - '2022-01-01'
        due_date:
          type: string
          format: date
          title: Due Date
          examples:
          - '2022-01-01'
        booking_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Booking Date
          description: booking date needs to be enabled else this will default to the date field
          examples:
          - '2021-12-22'
        currency:
          type: string
          title: Currency
          examples:
          - EUR
        exchange_rate:
          anyOf:
          - $ref: '#/components/schemas/ExchangeRate'
          - type: 'null'
        total_excl_tax:
          type: string
          title: Total Excl Tax
          examples:
          - '100'
        total_incl_tax:
          type: string
          title: Total Incl Tax
          examples:
          - '121'
        total_tax:
          type: string
          title: Total Tax
          examples:
          - '21'
        custom_fields:
          type: object
          title: Custom Fields
          default: {}
        supplier:
          $ref: '#/components/schemas/CompanySummaryOutput'
        customer_reference_numbers:
          items:
            type: string
          type: array
          title: Customer Reference Numbers
          examples:
          - - '12345'
        line_items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
          title: Line Items
        billing_entity:
          $ref: '#/components/schemas/BillingEntity'
          description: Billing entity linked to this invoice.
      type: object
      required:
      - name
      - external_name
      - date
      - due_date
      - currency
      - total_excl_tax
      - total_incl_tax
      - total_tax
      - supplier
      - line_items
      - billing_entity
      title: PurchaseInvoice
    BaseTaxRate:
      properties:
        percentage:
          anyOf:
          - type: number
          - type: 'null'
          title: Percentage
          examples:
          - 21
      type: object
      title: BaseTaxRate
      description: Original base tax rate, before applying customer/transport specific tax rules.
    BillingEntity:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the billing entity in Qargo.
        legal_name:
          type: string
          title: Legal Name
          description: Legal name of the billing entity.
          examples:
          - Qargo BV
        vat_number:
          type: string
          title: Vat Number
          description: VAT number of the billing entity.
          examples:
          - NL123456789B01
        code:
          type: string
          title: Code
          description: Code of the billing entity.
          examples:
          - QARGO
        company_registration_number:
          type: string
          title: Company Registration Number
          description: Company registration number of the billing entity.
          examples:
          - '12345678'
        is_default:
          type: boolean
          title: Is Default
          description: Indicates whether this billing entity is the default one.
          default: false
      type: object
      required:
      - id
      - legal_name
      - vat_number
      - code
      - company_registration_number
      title: BillingEntity
    TaskFailureStatus:
      properties:
        error_type:
          $ref: '#/components/schemas/ErrorType'
        error_message:
          anyOf:
          - type: string
          - type: 'null'
          title: Error Message
          description: (User visible) error message
      type: object
      required:
      - error_type
      title: TaskFailureStatus
    Document:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the document
        name:
          type: string
          title: Name
          description: Name of the document
        type:
          type: string
          title: Type
          description: Type of the document
        download_url:
          type: string
          title: Download Url
          description: Relative URL from the base URL to download the document
          default: ''
        subject_type:
          type: string
          title: Subject Type
          description: Linked subject of the document
        content_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Type
          description: Content type of the document
      type: object
      required:
      - id
      - name
      - type
      - subject_type
      title: Document
    SalesInvoiceOutput:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: Invoicing date
          examples:
          - '2022-01-01'
        due_date:
          type: string
          format: date
          title: Due Date
          examples:
          - '2022-01-01'
        booking_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Booking Date
          description: booking date needs to be enabled else this will default to the date field
          examples:
          - '2021-12-22'
        currency:
          type: string
          title: Currency
          description: Currency code (ISO 4217).
          examples:
          - EUR
        customer_reference_numbers:
          items:
            type: string
          type: array
          title: Customer Reference Numbers
          description: PO numbers
          default: []
          examples:
          - - '12345'
        custom_fields:
          type: object
          title: Custom Fields
          default: {}
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Technical id within the Qargo system
        name:
          type: string
          title: Name
          description: Name of the invoice.
          examples:
          - Invoice-0001
        e_invoicing:
          anyOf:
          - $ref: '#/components/schemas/EInvoicingOutput'
          - type: 'null'
          description: E-invoicing registration metadata.
        exchange_rate:
          anyOf:
          - $ref: '#/components/schemas/ExchangeRate'
          - type: 'null'
        total_excl_tax:
          type: string
          title: Total Excl Tax
          examples:
          - '100'
        total_incl_tax:
          type: string
          title: Total Incl Tax
          examples:
          - '121'
        total_tax:
          type: string
          title: Total Tax
          examples:
          - '21'
        customer:
          $ref: '#/components/schemas/CompanySummaryOutput'
        line_items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
          title: Line Items
        billing_entity:
          $ref: '#/components/schemas/BillingEntity'
          description: Billing entity linked to this invoice.
      type: object
      required:
      - date
      - due_date
      - currency
      - id
      - name
      - total_excl_tax
      - total_incl_tax
      - total_tax
      - customer
      - line_items
      - billing_entity
      title: SalesInvoiceOutput
    CompanySummaryOutput:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the company.
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: External reference to this company record
          examples:
          - ''
        currency:
          type: string
          title: Currency
          description: Currency of the company (ISO 4217, 3 letter code)
          examples:
          - EUR
        custom_fields:
          anyOf:
          - type: object
          - type: 'null'
          title: Custom Fields
          description: Custom fields of the company
        is_customer:
          type: boolean
          title: Is Customer
          description: Indicate that this company is a customer
          default: false
        is_subcontractor:
          type: boolean
          title: Is Subcontractor
          description: Indicate that this company is a subcontractor (supplier)
          default: false
        is_buyer_or_seller:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Buyer Or Seller
          description: Indicates that this company is a buyer or seller of a consignment
        name:
          type: string
          title: Name
          description: Name of the company.
          examples:
          - John Doe
        legal_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Legal Name
          description: Legal name of the company.
          examples:
          - John Doe
        vat_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vat Number
          description: VAT number of the company.
          examples:
          - BE1234.123.123
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Additional notes about the company
          examples:
          - ''
        tax_type:
          anyOf:
          - $ref: '#/components/schemas/TaxTypeEnum'
          - type: 'null'
          description: default tax type of the company
          examples:
          - VAT
        status:
          $ref: '#/components/schemas/CustomerStatus'
          description: "The status indicates whether an order can be linked to this customer. The available statuses are: \n - `PROSPECT`: The company is a potential customer but not yet approved. Only quotes can be created; no orders can be placed.\n - `NOT_APPROVED`: The company is not yet fully approved as a customer. This is an intermediary step between PROSPECT and APPROVED. Same permissions as PROSPECT apply.\n - `APPROVED`: The customer is approved. Orders can be placed without restrictions.\n - `WARNING`: The customer is approved, but a warning is triggered when attempting to create an order  in Qargo. The operator can dismiss the warning and proceed with the order.\n - `BLOCKED`: The customer is blocked; no new orders can be created.\n\n For a company representing other companies, it can only create orders if it holds the `APPROVED` status."
          default: APPROVED
          examples:
          - APPROVED
        accounting_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Accounting Code
          description: Default customer accounting code linked to the accounting system. Please use the accounting codes on the billing entities, as these are split per billing entity and between sales/purchase sides.
          examples:
          - '1234'
        billing_location:
          anyOf:
          - $ref: '#/components/schemas/LocationOutput'
          - type: 'null'
          description: Billing address of the company.
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        is_blocked:
          type: boolean
          title: Is Blocked
          description: 'Set to true to disallow new order creation for companies representing companies.


            **Note**: Deprecated in favor of `status`.'
          default: false
          deprecated: true
      type: object
      required:
      - id
      - currency
      - name
      title: CompanySummaryOutput
    TaskPayload:
      properties:
        subject_id:
          type: string
          format: uuid
          title: Subject Id
          description: Task target id
        subject_type:
          $ref: '#/components/schemas/SubjectType'
          description: Task target type
        documents:
          items:
            $ref: '#/components/schemas/Document'
          type: array
          title: Documents
          description: List of related documents
        instance:
          anyOf:
          - $ref: '#/components/schemas/SalesInvoiceOutput'
          - $ref: '#/components/schemas/PurchaseInvoice'
          - $ref: '#/components/schemas/SalesCreditNoteOutput'
          - $ref: '#/components/schemas/PurchaseCreditNote'
          title: Instance
      type: object
      required:
      - subject_id
      - subject_type
      - instance
      title: TaskPayload
      description: Task execution input data.
    LocationOutput:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Technical code for integrations/mapping logic; should be treated as stable once set.
          examples:
          - LOC123
        display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Name
          description: Human-readable label for a location in operational views.
          examples:
          - Main Office
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: Identifier from an external (master data) system.
        address:
          anyOf:
          - type: string
          - type: 'null'
          title: Address
          description: First address line of the location
          examples:
          - Gaston Crommenlaan 4
        address_second_line:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Second Line
          description: Second address line of the location
          examples:
          - ''
        city:
          anyOf:
          - type: string
          - type: 'null'
          title: City
          description: City of the location
          examples:
          - Ghent
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
          description: State of the location
          examples:
          - ''
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
          description: Country code (ISO 3166-1 alpha-2) of the location
          examples:
          - BE
        postal_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Postal Code
          description: Postal code of the location
          examples:
          - '9050'
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the location
          examples:
          - Qargo HQ
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the location
        latitude:
          anyOf:
          - type: number
          - type: 'null'
          title: Latitude
          description: Latitude of the location
        longitude:
          anyOf:
          - type: number
          - type: 'null'
          title: Longitude
          description: Longitude of the location
      type: object
      title: LocationOutput
    api__accounting__models__invoice__TaxRate:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the tax rate in Qargo.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the Tax rate in Qargo.
          examples:
          - 21%
        percentage:
          anyOf:
          - type: number
          - type: 'null'
          title: Percentage
          examples:
          - 21
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the tax rate item in the accounting software.
          examples:
          - 21% VAT
        tax_type:
          anyOf:
          - $ref: '#/components/schemas/TaxRateType'
          - type: 'null'
          default: VAT
          examples:
          - VAT
      type: object
      title: TaxRate
    SalesCreditNoteOutput:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: Credit note date
          examples:
          - '2022-01-01'
        booking_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Booking Date
          description: booking date needs to be enabled else this will default to the date field
          examples:
          - '2021-12-22'
        currency:
          type: string
          title: Currency
          examples:
          - EUR
        custom_fields:
          type: object
          title: Custom Fields
          default: {}
        customer_reference_numbers:
          items:
            type: string
          type: array
          title: Customer Reference Numbers
          examples:
          - - '12345'
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Technical id within the Qargo system
        name:
          type: string
          title: Name
          examples:
          - Credit-Note-0001
        e_invoicing:
          anyOf:
          - $ref: '#/components/schemas/EInvoicingOutput'
          - type: 'null'
          description: E-invoicing registration metadata.
        exchange_rate:
          anyOf:
          - $ref: '#/components/schemas/ExchangeRate'
          - type: 'null'
        total_excl_tax:
          type: string
          title: Total Excl Tax
          examples:
          - '100'
        total_incl_tax:
          type: string
          title: Total Incl Tax
          examples:
          - '121'
        total_tax:
          type: string
          title: Total Tax
          examples:
          - '21'
        customer:
          $ref: '#/components/schemas/CompanySummaryOutput'
        line_items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
          title: Line Items
        billing_entity:
          $ref: '#/components/schemas/BillingEntity'
          description: Billing entity linked to this credit note.
      type: object
      required:
      - date
      - currency
      - id
      - name
      - total_excl_tax
      - total_incl_tax
      - total_tax
      - customer
      - line_items
      - billing_entity
      title: SalesCreditNoteOutput
    EInvoicingOutput:
      properties:
        number:
          anyOf:
          - type: string
          - type: 'null'
          title: Number
          description: E-invoicing registration number.
        url:
          anyOf:
          - type: string
          - type: 'null'
          title: Url
          description: E-invoicing verification URL.
        regulator:
          anyOf:
          - type: string
          - type: 'null'
          title: Regulator
          description: E-invoicing regulator.
      type: object
      title: EInvoicingOutput
    TaskStatusInput:
      type: string
      enum:
      - COMPLETED
      - FAILED
      title: TaskStatusInput
    SubjectType:
      type: string
      enum:
      - SALES_INVOICE
      - SALES_CREDIT_NOTE
      - PURCHASE_INVOICE
      - PURCHASE_CREDIT_NOTE
      title: SubjectType
    PurchaseCreditNote:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
        name:
          type: string
          title: Name
          examples:
          - Credit-Note-0001
        external_name:
          type: string
          title: External Name
          description: Reference from crediting party
        date:
          type: string
          format: date
          title: Date
          description: invoice date
          examples:
          - '2022-01-01'
        booking_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Booking Date
          description: booking date needs to be enabled else this will default to the date field
          examples:
          - '2021-12-22'
        currency:
          type: string
          title: Currency
          examples:
          - EUR
        exchange_rate:
          anyOf:
          - $ref: '#/components/schemas/ExchangeRate'
          - type: 'null'
        total_excl_tax:
          type: string
          title: Total Excl Tax
          examples:
          - '100'
        total_incl_tax:
          type: string
          title: Total Incl Tax
          examples:
          - '121'
        total_tax:
          type: string
          title: Total Tax
          examples:
          - '21'
        custom_fields:
          type: object
          title: Custom Fields
          default: {}
        supplier:
          $ref: '#/components/schemas/CompanySummaryOutput'
        customer_reference_numbers:
          items:
            type: string
          type: array
          title: Customer Reference Numbers
          examples:
          - - '12345'
        line_items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
          title: Line Items
        billing_entity:
          $ref: '#/components/schemas/BillingEntity'
          description: Billing entity linked to this credit note.
      type: object
      required:
      - name
      - external_name
      - date
      - currency
      - total_excl_tax
      - total_incl_tax
      - total_tax
      - supplier
      - line_items
      - billing_entity
      title: PurchaseCreditNote
    PaymentTermCode:
      type: string
      enum:
      - END_OF_MONTH_2
      - END_OF_MONTH_1
      - END_OF_MONTH_0_NET_90
      - END_OF_MONTH_0_NET_75
      - END_OF_MONTH_0_NET_70
      - END_OF_MONTH_0_NET_65
      - END_OF_MONTH_0_NET_60
      - END_OF_MONTH_0_NET_50
      - END_OF_MONTH_0_NET_45
      - END_OF_MONTH_0_NET_35
      - END_OF_MONTH_0_NET_31
      - END_OF_MONTH_0_NET_30
      - END_OF_MONTH_0_NET_25
      - END_OF_MONTH_0_NET_21
      - END_OF_MONTH_0_NET_14
      - END_OF_MONTH_0_NET_7
      - END_OF_MONTH_0_NET_1
      - END_OF_MONTH_0
      - PREPAID
      - CUSTOM_DUE_DATE
      - UPON_RECEIPT
      - NET_1
      - NET_2
      - NET_3
      - NET_5
      - NET_7
      - NET_8
      - NET_10
      - NET_12
      - NET_14
      - NET_15
      - NET_20
      - NET_21
      - NET_28
      - NET_30
      - NET_35
      - NET_40
      - NET_42
      - NET_45
      - NET_48
      - NET_49
      - NET_50
      - NET_52
      - NET_55
      - NET_56
      - NET_60
      - NET_63
      - NET_70
      - NET_75
      - NET_77
      - NET_80
      - NET_84
      - NET_90
      - NET_91
      - NET_98
      - NET_120
      title: PaymentTermCode
    ValidationErrorResponse:
      properties:
        message:
          description: Human-readable summary of the validation failure
          title: Message
          type: string
        errors:
          description: One entry per validation failure. Always present and non-empty — a single failure yields a one-item array, so integrators can handle one and many the same way.
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          minItems: 1
          title: Errors
          type: array
      required:
      - message
      - errors
      title: ValidationErrorResponse
      type: object
    AvailableTask:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        invoice_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Invoice Id
        task_type:
          $ref: '#/components/schemas/TaskType'
        status:
          $ref: '#/components/schemas/TaskStatus'
      type: object
      required:
      - id
      - task_type
      - status
      title: AvailableTask
      description: Reference to a task available for processing.
    ExternalExecutionMetadata:
      properties:
        completed:
          type: boolean
          title: Completed
          default: false
      type: object
      title: ExternalExecutionMetadata
    CustomerStatus:
      type: string
      enum:
      - PROSPECT
      - NOT_APPROVED
      - APPROVED
      - WARNING
      - BLOCKED
      title: CustomerStatus
    TaskStatus:
      type: string
      enum:
      - TODO
      - COMPLETED
      - FAILED
      - WAITING
      title: TaskStatus
    ExchangeRate:
      properties:
        rate_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Rate Date
          examples:
          - '2022-01-01'
        rate:
          type: number
          title: Rate
          examples:
          - 1
        inverse_rate:
          type: number
          title: Inverse Rate
          examples:
          - 1
      type: object
      required:
      - rate
      - inverse_rate
      title: ExchangeRate
    ValidationErrorDetail:
      properties:
        message:
          description: Human-readable summary of this validation failure
          title: Message
          type: string
        field:
          anyOf:
          - type: string
          - type: 'null'
          default: null
          description: Name of the field that failed validation, if known
          title: Field
        path:
          anyOf:
          - type: string
          - type: 'null'
          default: null
          description: JSON path to the field within the request payload (e.g. '$.consignor.address.country')
          title: Path
        detail:
          anyOf:
          - type: string
          - type: object
          - type: 'null'
          default: null
          description: Additional structured context about the failure, if provided by the backend
          title: Detail
      required:
      - message
      title: ValidationErrorDetail
      type: object
    TaxRateType:
      type: string
      enum:
      - VAT
      - NO_VAT
      - REVERSE_CHARGE
      - TRANSIT
      - CO_CONTRACTING
      - OTHER
      title: TaxRateType
    LineItem:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique id of this line item. A Qargo invoice line can be represented with multiple LineItems if revenue/cost split is enabled.
        invoice_line_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Invoice Line Id
          description: Technical id of the invoice within the Qargo system
        name:
          type: string
          title: Name
          description: Name of the charge line.
          examples:
          - Fuel charge
        amount:
          type: string
          title: Amount
          description: Amount of the charge line.
          examples:
          - '100'
        code:
          type: string
          title: Code
          description: Code of the type of charge line.
          examples:
          - FUEL
        account:
          anyOf:
          - $ref: '#/components/schemas/api__order__models__charge__AccountOutput'
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Freeform description field
          default: ''
          examples:
          - Charge description
        tax_rate:
          anyOf:
          - $ref: '#/components/schemas/api__accounting__models__invoice__TaxRate'
          - type: 'null'
        base_tax_rate:
          anyOf:
          - $ref: '#/components/schemas/BaseTaxRate'
          - type: 'null'
          description: Original tax rate before applying tax rules.
        order_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Order Name
          description: Linked Qargo order name, for cost charges.
          examples:
          - Order-0001
        order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Order Id
          description: Linked Qargo order id, for cost charges.
        trip_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Trip Id
          description: Linked Qargo trip id, for cost charges
        is_credit_charge:
          type: boolean
          title: Is Credit Charge
          default: false
          examples:
          - false
        invoice_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Invoice Name
          description: Name of the source invoice this line item is linked to, if applicable.
          examples:
          - Invoice-0001
        currency:
          type: string
          title: Currency
          examples:
          - USD
        fraction:
          type: string
          title: Fraction
          description: The api can split the charge lines according to revenue. This fraction indicates the percentage of the total amount of the split for this set of dimensions.
          default: '1'
          examples:
          - '0.5'
        dimension_1:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 1
        dimension_2:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 2
        dimension_3:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 3
        dimension_4:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 4
        dimension_5:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 5
        dimension_6:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 6
      type: object
      required:
      - id
      - invoice_line_id
      - name
      - amount
      - code
      - currency
      title: LineItem
      description: 'Represents a single invoice/credit line item.


        Note that a single invoice line can be split up in multiple line items

        if revenue split is enabled.'
    TaskUpdateInput:
      properties:
        status:
          $ref: '#/components/schemas/TaskStatusInput'
        failure:
          anyOf:
          - $ref: '#/components/schemas/TaskFailureStatus'
          - type: 'null'
      type: object
      required:
      - status
      title: TaskUpdateInput
      description: 'Update task status on completion/failure.


        The failure field can be used to provide more information on failure.'
    TaskType:
      type: string
      enum:
      - POST_INVOICE
      - POST_INVOICE_PURCHASE
      - POST_CREDIT_NOTE
      - POST_CREDIT_NOTE_PURCHASE
      - PAID_INVOICE
      - PAID_INVOICE_PURCHASE
      - REFUNDED_CREDIT_NOTE
      - REFUNDED_CREDIT_NOTE_PURCHASE
      - DISPATCH
      title: TaskType
    TaskUpdate:
      properties:
        status:
          $ref: '#/components/schemas/TaskStatus'
      type: object
      required:
      - status
      title: TaskUpdate
      description: Update task status result.
    TaskDetail:
      properties:
        id:
          type: string
          format: uuid
          title: Id
        status:
          $ref: '#/components/schemas/TaskStatus'
        task_type:
          $ref: '#/components/schemas/TaskType'
        execution_metadata:
          anyOf:
          - $ref: '#/components/schemas/TaskInstanceExecutionMetadata'
          - type: 'null'
        payload:
          anyOf:
          - $ref: '#/components/schemas/TaskPayload'
          - type: 'null'
        invoice_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Invoice Id
      type: object
      required:
      - id
      - status
      - task_type
      title: TaskDetail
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    api__order__models__charge__AccountOutput:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Accounting code
      type: object
      title: AccountOutput
    TaskInstanceExecutionMetadata:
      properties:
        external_execution:
          anyOf:
          - $ref: '#/components/schemas/ExternalExecutionMetadata'
          - type: 'null'
      type: object
      title: TaskInstanceExecutionMetadata
    ErrorType:
      type: string
      enum:
      - USER_INPUT_ERROR
      - INTERNAL_ERROR
      - NOT_SUPPORTED
      title: ErrorType
    TaxTypeEnum:
      type: string
      enum:
      - VAT
      - REVERSE_CHARGE
      - TRANSIT
      - NO_VAT
      - CO_CONTRACTING
      - OTHER
      title: TaxTypeEnum
    BasePaymentTerm:
      properties:
        code:
          $ref: '#/components/schemas/PaymentTermCode'
          description: 'Payment term codes and their explanations:

            - `END_OF_MONTH_2`: End of next two months

            - `END_OF_MONTH_1`: End of next month

            - `END_OF_MONTH_0_NET_90`: End of this month, plus 90 days

            - `END_OF_MONTH_0_NET_75`: End of this month, plus 75 days

            - `END_OF_MONTH_0_NET_70`: End of this month, plus 70 days

            - `END_OF_MONTH_0_NET_65`: End of this month, plus 65 days

            - `END_OF_MONTH_0_NET_60`: End of this month, plus 60 days

            - `END_OF_MONTH_0_NET_50`: End of this month, plus 50 days

            - `END_OF_MONTH_0_NET_45`: End of this month, plus 45 days

            - `END_OF_MONTH_0_NET_35`: End of this month, plus 35 days

            - `END_OF_MONTH_0_NET_31`: End of this month, plus 31 days

            - `END_OF_MONTH_0_NET_30`: End of this month, plus 30 days

            - `END_OF_MONTH_0_NET_25`: End of this month, plus 25 days

            - `END_OF_MONTH_0_NET_21`: End of this month, plus 21 days

            - `END_OF_MONTH_0_NET_14`: End of this month, plus 14 days

            - `END_OF_MONTH_0_NET_7`: End of this month, plus 7 days

            - `END_OF_MONTH_0_NET_1`: End of this month, plus 1 day

            - `END_OF_MONTH_0`: End of month

            - `PREPAID`: Prepaid

            - `CUSTOM_DUE_DATE`: Custom due date, set on invoice creation. Not allowed to set via the API

            - `UPON_RECEIPT`: Upon receipt

            - `NET_1`: 1 day after receipt

            - `NET_2`: 2 days after receipt

            - `NET_3`: 3 days after receipt

            - `NET_5`: 5 days after receipt

            - `NET_7`: 7 days after receipt

            - `NET_8`: 8 days after receipt

            - `NET_10`: 10 days after receipt

            - `NET_12`: 12 days after receipt

            - `NET_14`: 14 days after receipt

            - `NET_15`: 15 days after receipt

            - `NET_20`: 20 days after receipt

            - `NET_21`: 21 days after receipt

            - `NET_28`: 28 days after receipt

            - `NET_30`: 30 days after receipt

            - `NET_35`: 35 days after receipt

            - `NET_40`: 40 days after receipt

            - `NET_42`: 42 days after receipt

            - `NET_45`: 45 days after receipt

            - `NET_48`: 48 days after receipt

            - `NET_49`: 49 days after receipt

            - `NET_50`: 50 days after receipt

            - `NET_52`: 52 days after receipt

            - `NET_55`: 55 days after receipt

            - `NET_56`: 56 days after receipt

            - `NET_60`: 60 days after receipt

            - `NET_63`: 63 days after receipt

            - `NET_70`: 70 days after receipt

            - `NET_75`: 75 days after receipt

            - `NET_77`: 77 days after receipt

            - `NET_80`: 80 days after receipt

            - `NET_84`: 84 days after receipt

            - `NET_90`: 90 days after receipt

            - `NET_91`: 91 days after receipt

            - `NET_98`: 98 days after receipt

            - `NET_120`: 120 days after receipt'
          examples:
          - END_OF_MONTH_2
      type: object
      required:
      - code
      title: BasePaymentTerm
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: /v1/auth/token
    BasicAuthWebhookCredentials:
      type: http
      scheme: basic
x-tagGroups:
- name: Use cases
  tags:
  - Use case / Accounting
  - Use case / Customer portal
  - Use case / Document import
  - Use case / E-invoicing
  - Use case / Fleet dispatch
  - Use case / Intermodal [partner]
  - Use case / Location booking
  - Use case / Master data sync
  - Use case / Order
  - Use case / Subcontractor dispatch
  - Use case / Tracking
  - Use case / Trip import
  - Use case / Visibility
- name: API
  tags:
  - API / Accounting
  - API / Authentication
  - API / Company
  - API / Document
  - API / Order
  - API / Resource
  - API / Task
  - API / Trip
- name: System
  tags:
  - System
- name: Webhooks
  tags:
  - Webhooks / Inbound
  - Webhooks / Outbound
- name: ''
  tags: []
