openapi: 3.2.0
info:
  title: Qargo TMS API / Company API
  description: For support, please contact integrations@qargo.com.
  version: 1.2.0
servers:
- url: https://api.qargo.com
tags:
- name: API / Company
  description: ''
paths:
  /v1/companies/company:
    get:
      tags:
      - API / Company
      summary: List Companies
      operationId: list_companies_v1_companies_company_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: updated_after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch the companies updated after this time. Format is ISO 8601 YYYY-MM-DDTHH:MM:SSZ
          title: Updated After
        description: Filter to fetch the companies updated after this time. Format is ISO 8601 YYYY-MM-DDTHH:MM:SSZ
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    post:
      tags:
      - API / Company
      summary: Create Company
      operationId: create_company_v1_companies_company_post
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/companies/company/{company_id}/documents:
    get:
      tags:
      - API / Company
      summary: Get Company Documents
      description: Fetch all documents for a specific company.
      operationId: get_company_documents_v1_companies_company__company_id__documents_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyDocumentOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    post:
      tags:
      - API / Company
      summary: Create Company Document
      description: Upload a document for a specific company.
      operationId: create_company_document_v1_companies_company__company_id__documents_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadedCompanyDocumentWithValidity'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDocumentOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/companies/company/{company_id}/validity:
    get:
      tags:
      - API / Company
      summary: List Company Validities
      description: List all validities for a company.
      operationId: List_company_validities_v1_companies_company__company_id__validity_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: start_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch unavailabilities after this time
          title: Start Time
        description: Filter to fetch unavailabilities after this time
      - name: end_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch unavailabilities before this time
          title: End Time
        description: Filter to fetch unavailabilities before this time
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    post:
      tags:
      - API / Company
      summary: Create Company Validity Request
      description: Create a new validity request for a company.
      operationId: Create_company_validity_request_v1_companies_company__company_id__validity_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyValidityInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/companies/company/{company_id}/validity/{id}:
    get:
      tags:
      - API / Company
      summary: Get Company Validity
      description: Fetches a specific validity for a company.
      operationId: Get_company_validity_v1_companies_company__company_id__validity__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    put:
      tags:
      - API / Company
      summary: Update Company Validity
      description: Update an existing validity for a company.
      operationId: Update_company_validity_v1_companies_company__company_id__validity__id__put
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyValidityInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    delete:
      tags:
      - API / Company
      summary: Delete Company Validity
      description: Delete a company validity.
      operationId: Delete_company_validity_v1_companies_company__company_id__validity__id__delete
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/companies/company/{company_id}/validity/{id}/documents:
    get:
      tags:
      - API / Company
      summary: Get Company Validity Documents
      description: Fetch all documents associated with a specific company validity.
      operationId: Get_company_validity_documents_v1_companies_company__company_id__validity__id__documents_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: company_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Company Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Get Company Validity Documents V1 Companies Company  Company Id  Validity  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/companies/company/{id}:
    get:
      tags:
      - API / Company
      summary: Get Company
      operationId: get_company_v1_companies_company__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    put:
      tags:
      - API / Company
      summary: Update Company
      operationId: update_company_v1_companies_company__id__put
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Company
      summary: Update Company
      operationId: update_company_v1_companies_company__id__patch
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyPartialInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    delete:
      tags:
      - API / Company
      summary: Archive Company
      description: 'Archive the company. This is a soft-delete: the company record is preserved and its `archived_customer`, `archived_subcontractor`, and `archived_buyer_or_seller` flags are set to `true` so it no longer appears in active lists.'
      operationId: Archive_company_v1_companies_company__id__delete
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
components:
  schemas:
    UploadedCompanyDocumentWithValidity:
      properties:
        upload_id:
          type: string
          format: uuid
          title: Upload Id
          description: Unique identifier of the uploaded file
        document_type:
          anyOf:
          - $ref: '#/components/schemas/CustomerDocumentTypeInput'
          - $ref: '#/components/schemas/SubcontractorDocumentWithoutValidityTypeInput'
          - $ref: '#/components/schemas/SubcontractorDocumentWithValidityTypeInput'
          - $ref: '#/components/schemas/SubcontractorInsuranceDocumentTypeInput'
          title: Document Type
          description: Type of the document
        name:
          type: string
          title: Name
          description: Name of the document
        validity:
          anyOf:
          - $ref: '#/components/schemas/CompanyValidity'
          - type: 'null'
          description: Validity information associated with the uploaded document.
      type: object
      required:
      - upload_id
      - document_type
      - name
      title: UploadedCompanyDocumentWithValidity
    SubcontractorValidityReason:
      type: string
      enum:
      - ATA_CARNET
      - BANK_DETAILS
      - CMR_INSURANCE
      - COMMON_HEALTH_ENTRY_DOCUMENT
      - COMMUNICATION
      - COMMUNICATION_SUBCONTRACTOR
      - SUBCONTRACTOR_CONTRACT
      - CREDIT_REPORT
      - DGSA_CERTIFICATE
      - ECMT_TRANSPORT_LICENSE
      - EU_TRANSPORT_LICENSE
      - EXPORT_HEALTH_CERTIFICATE
      - FINE
      - FREIGHT_FORWARDER_LICENSE
      - SUBCONTRACTOR_LICENSE
      - NATIONAL_TRANSPORT_LICENSE
      - SUBCONTRACTOR_OTHER
      - SUBCONTRACTOR_PERMIT
      - POWER_OF_ATTORNEY
      - QUESTIONNAIRE_CUSTOMER
      - QUESTIONNAIRE_SUBCONTRACTOR
      - SERVICE_LEVEL_AGREEMENT
      - SQAS_CERTIFICATE
      - COMPANY_TDS
      - TRAILER_CLEANING_CERTIFICATE
      - VAT_VIES_VALIDATION
      - SUBCONTRACTOR_WASTE_LICENSE
      - WASTE_PERMIT_GREEN_EU
      - WASTE_PERMIT_ORANGE_EU
      - WASTE_PERMIT_ORANGE_GREEN_EU
      - XL_CERTIFICATE
      - DOMESTIC_CARGO_INSURANCE
      - SUBCONTRACTOR_INSURANCE
      - INSURANCE_3RD_PARTY_TRAILER
      - CARGO_INSURANCE
      - SUBCONTRACTOR_LIABILITY_INSURANCE
      - SUBCONTRACTOR_MOTOR_INSURANCE
      title: SubcontractorValidityReason
    CreditPolicyOutput:
      properties:
        limit:
          anyOf:
          - type: number
          - type: 'null'
          title: Limit
          description: The limit for total amount that has been invoiced but not paid.
          examples:
          - 10000
      type: object
      title: CreditPolicyOutput
    SubcontractorDocumentWithoutValidityTypeInput:
      type: string
      enum:
      - ATA_CARNET
      - BANK_DETAILS
      - CARGO_INSURANCE
      - CMR_INSURANCE
      - COMMON_HEALTH_ENTRY_DOCUMENT
      - COMMUNICATION_SUBCONTRACTOR
      - COMMUNICATION
      - COMPANY_TDS
      - CREDIT_REPORT
      - DGSA_CERTIFICATE
      - DOMESTIC_CARGO_INSURANCE
      - ECMT_TRANSPORT_LICENSE
      - EU_TRANSPORT_LICENSE
      - EXPORT_HEALTH_CERTIFICATE
      - FINE
      - FREIGHT_FORWARDER_LICENSE
      - INSURANCE_3RD_PARTY_TRAILER
      - NATIONAL_TRANSPORT_LICENSE
      - OTHER
      - POWER_OF_ATTORNEY
      - QUESTIONNAIRE_CUSTOMER
      - QUESTIONNAIRE_SUBCONTRACTOR
      - SERVICE_LEVEL_AGREEMENT
      - SQAS_CERTIFICATE
      - SUBCONTRACTOR_CONTRACT
      - SUBCONTRACTOR_INSURANCE
      - SUBCONTRACTOR_LIABILITY_INSURANCE
      - SUBCONTRACTOR_LICENSE
      - SUBCONTRACTOR_MOTOR_INSURANCE
      - SUBCONTRACTOR_PERMIT
      - SUBCONTRACTOR_WASTE_LICENSE
      - TRAILER_CLEANING_CERTIFICATE
      - VAT_VIES_VALIDATION
      - WASTE_PERMIT_GREEN_EU
      - WASTE_PERMIT_ORANGE_EU
      - WASTE_PERMIT_ORANGE_GREEN_EU
      - XL_CERTIFICATE
      title: SubcontractorDocumentWithoutValidityTypeInput
    CompanyDetailOutput:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the company.
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: External reference to this company record
          examples:
          - ''
        currency:
          type: string
          title: Currency
          description: Currency of the company (ISO 4217, 3 letter code)
          examples:
          - EUR
        custom_fields:
          anyOf:
          - type: object
          - type: 'null'
          title: Custom Fields
          description: Custom fields of the company
        is_customer:
          type: boolean
          title: Is Customer
          description: Indicate that this company is a customer
          default: false
        is_subcontractor:
          type: boolean
          title: Is Subcontractor
          description: Indicate that this company is a subcontractor (supplier)
          default: false
        is_buyer_or_seller:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Buyer Or Seller
          description: Indicates that this company is a buyer or seller of a consignment
        name:
          type: string
          title: Name
          description: Name of the company.
          examples:
          - John Doe
        legal_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Legal Name
          description: Legal name of the company.
          examples:
          - John Doe
        vat_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vat Number
          description: VAT number of the company.
          examples:
          - BE1234.123.123
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Additional notes about the company
          examples:
          - ''
        tax_type:
          anyOf:
          - $ref: '#/components/schemas/TaxTypeEnum'
          - type: 'null'
          description: default tax type of the company
          examples:
          - VAT
        status:
          $ref: '#/components/schemas/CustomerStatus'
          description: "The status indicates whether an order can be linked to this customer. The available statuses are: \n - `PROSPECT`: The company is a potential customer but not yet approved. Only quotes can be created; no orders can be placed.\n - `NOT_APPROVED`: The company is not yet fully approved as a customer. This is an intermediary step between PROSPECT and APPROVED. Same permissions as PROSPECT apply.\n - `APPROVED`: The customer is approved. Orders can be placed without restrictions.\n - `WARNING`: The customer is approved, but a warning is triggered when attempting to create an order  in Qargo. The operator can dismiss the warning and proceed with the order.\n - `BLOCKED`: The customer is blocked; no new orders can be created.\n\n For a company representing other companies, it can only create orders if it holds the `APPROVED` status."
          default: APPROVED
          examples:
          - APPROVED
        accounting_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Accounting Code
          description: Default customer accounting code linked to the accounting system. Please use the accounting codes on the billing entities, as these are split per billing entity and between sales/purchase sides.
          examples:
          - '1234'
        billing_location:
          anyOf:
          - $ref: '#/components/schemas/LocationOutput'
          - type: 'null'
          description: Billing address of the company.
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        locale:
          type: string
          title: Locale
          description: 'Locale of the company. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        archived_customer:
          type: boolean
          title: Archived Customer
          description: Indicate that this company is archived as a customer
        archived_subcontractor:
          type: boolean
          title: Archived Subcontractor
          description: Indicate that this company is archived as a subcontractor
        archived_buyer_or_seller:
          type: boolean
          title: Archived Buyer Or Seller
          description: Indicates that this company is archived as buyer/seller of a consignment
        credit_policy:
          anyOf:
          - $ref: '#/components/schemas/CreditPolicyOutput'
          - type: 'null'
          description: Credit policy of the customer
        default_invoice_customer:
          anyOf:
          - $ref: '#/components/schemas/api__accounting__models__company__CompanyReferenceOutput'
          - type: 'null'
          description: Default invoice customer (bill-to) for this company. When set, charges for this customer are billed to the referenced company instead.
        reference_numbers:
          $ref: '#/components/schemas/CompanyReferenceNumbers'
          description: Reference numbers of the company
        bank_accounts:
          items:
            $ref: '#/components/schemas/BankAccount'
          type: array
          title: Bank Accounts
          description: List of associated bank accounts.
        contacts:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyContactOutput'
            type: array
          - type: 'null'
          title: Contacts
          description: List of contacts associated with the company
        sales:
          $ref: '#/components/schemas/SalesCompanyFields-Output'
          description: Sales related fields of the company
        purchase:
          $ref: '#/components/schemas/PurchaseCompanyFields-Output'
          description: Purchase related fields of the company
        timestamp_updated:
          type: string
          format: date-time
          title: Timestamp Updated
          description: The date and time when the company was last updated.
        is_blocked:
          type: boolean
          title: Is Blocked
          description: 'Set to true to disallow new order creation for companies representing companies.


            **Note**: Deprecated in favor of `status`.'
          default: false
          deprecated: true
        credit_limit_total:
          anyOf:
          - type: number
          - type: 'null'
          title: Credit Limit Total
          description: 'The limit for total amount that has been invoiced but not paid. **Deprecated**: use `credit_policy.limit` instead.'
          deprecated: true
          examples:
          - 12000
      type: object
      required:
      - id
      - currency
      - name
      - locale
      - archived_customer
      - archived_subcontractor
      - archived_buyer_or_seller
      - timestamp_updated
      title: CompanyDetailOutput
    ListCompanyOutput:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        items:
          items:
            $ref: '#/components/schemas/CompanyDetailOutput'
          type: array
          title: Items
      type: object
      required:
      - items
      title: ListCompanyOutput
    PurchaseCompanyFields-Input:
      properties:
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        billing_entities:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyBillingEntity'
            type: array
          - type: 'null'
          title: Billing Entities
          description: List of billing entities associated with the company
        status:
          anyOf:
          - $ref: '#/components/schemas/SubcontractorStatus'
          - type: 'null'
          description: "The status indicates whether an order can be linked to this subcontractor. The available statuses are: \n - `NOT_APPROVED`: The subcontractor is not yet approved.\n - `APPROVED`: The subcontractor is approved.\n - `WARNING`: The subcontractor is approved, but a warning is triggered.\n - `BLOCKED`: The subcontractor is blocked; no new orders can be assigned."
          default: APPROVED
          examples:
          - APPROVED
      type: object
      title: PurchaseCompanyFields
    CompanyPartialInput:
      properties:
        is_customer:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Customer
          description: Indicate that this company is a customer. At least one of `is_customer` or `is_subcontractor` must be set.
        is_buyer_or_seller:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Buyer Or Seller
          description: Indicates that this company is a buyer or seller of a consignment
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the company.
          examples:
          - John Doe
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: External reference to this company record
          examples:
          - ''
        currency:
          anyOf:
          - type: string
          - type: 'null'
          title: Currency
          description: Currency of the company (ISO 4217, 3 letter code)
          examples:
          - EUR
        custom_fields:
          anyOf:
          - type: object
          - type: 'null'
          title: Custom Fields
          description: Custom fields of the company
        credit_policy:
          anyOf:
          - $ref: '#/components/schemas/CreditPolicyInput'
          - type: 'null'
          description: Credit policy of the customer
        default_invoice_customer_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Default Invoice Customer Id
          description: ID of the default invoice customer (bill-to) for this company. When set, charges for this customer are billed to the referenced company instead.
        is_subcontractor:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Subcontractor
          description: Indicate that this company is a subcontractor (supplier). At least one of `is_customer` or `is_subcontractor` must be set.
        archived_customer:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archived Customer
          description: Set to `true` to archive the customer role of this company, or `false` to reactivate it. Has no effect if `is_customer` is `false`.
        archived_subcontractor:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archived Subcontractor
          description: Set to `true` to archive the subcontractor role of this company, or `false` to reactivate it. Has no effect if `is_subcontractor` is `false`.
        legal_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Legal Name
          description: Legal name of the company.
          examples:
          - John Doe
        locale:
          anyOf:
          - type: string
            pattern: ^[a-z]{2}(-[A-Z]{2})?$
          - type: 'null'
          title: Locale
          description: 'Locale of the company. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        vat_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vat Number
          description: VAT number of the company.
          examples:
          - BE1234.123.123
        reference_numbers:
          anyOf:
          - $ref: '#/components/schemas/CompanyReferenceNumbers'
          - type: 'null'
          description: Reference numbers of the company
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Additional notes about the company
          examples:
          - ''
        tax_type:
          anyOf:
          - $ref: '#/components/schemas/TaxTypeEnum'
          - type: 'null'
          description: DESCRIPTION_HERE
          examples:
          - VAT
        bank_accounts:
          anyOf:
          - items:
              $ref: '#/components/schemas/BankAccount'
            type: array
          - type: 'null'
          title: Bank Accounts
          description: List of associated bank accounts.
        accounting_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Accounting Code
          description: Code linked to the accounting system
          examples:
          - '1234'
        billing_location:
          anyOf:
          - $ref: '#/components/schemas/BillingLocation'
          - type: 'null'
          description: Billing address of the company.
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        contacts:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyContactInput'
            type: array
          - type: 'null'
          title: Contacts
          description: List of contacts associated with the company
        sales:
          $ref: '#/components/schemas/SalesCompanyFields-Input'
          description: Sales related fields of the company
        purchase:
          $ref: '#/components/schemas/PurchaseCompanyFields-Input'
          description: Purchase related fields of the company
        credit_limit_total:
          anyOf:
          - type: number
          - type: 'null'
          title: Credit Limit Total
          description: 'The limit for total amount that has been invoiced but not paid. **Deprecated**: use `credit_policy.limit` instead.'
          deprecated: true
          examples:
          - 12000
        is_blocked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Blocked
          description: 'Set to true to disallow new order creation for companies representing companies.


            **Note**: Deprecated in favor of `status` under the `sales` and `purchase` fields.an update of `status` will always prevail over `is_blocked` update.'
          deprecated: true
        status:
          anyOf:
          - $ref: '#/components/schemas/CustomerStatus'
          - type: 'null'
          description: "The status indicates whether an order can be linked to this customer. The available statuses are: \n - `PROSPECT`: The company is a potential customer but not yet approved. Only quotes can be created; no orders can be placed.\n - `NOT_APPROVED`: The company is not yet fully approved as a customer. This is an intermediary step between PROSPECT and APPROVED. Same permissions as PROSPECT apply.\n - `APPROVED`: The customer is approved. Orders can be placed without restrictions.\n - `WARNING`: The customer is approved, but a warning is triggered when attempting to create an order  in Qargo. The operator can dismiss the warning and proceed with the order.\n - `BLOCKED`: The customer is blocked; no new orders can be created.\n\n For a company representing other companies, it can only create orders if it holds the `APPROVED` status.**Note**: Deprecated in favor of `status` under the `sales` and `purchase` fields."
          deprecated: true
          examples:
          - APPROVED
      type: object
      title: CompanyPartialInput
    Document:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the document
        name:
          type: string
          title: Name
          description: Name of the document
        type:
          type: string
          title: Type
          description: Type of the document
        download_url:
          type: string
          title: Download Url
          description: Relative URL from the base URL to download the document
          default: ''
        subject_type:
          type: string
          title: Subject Type
          description: Linked subject of the document
        content_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Type
          description: Content type of the document
      type: object
      required:
      - id
      - name
      - type
      - subject_type
      title: Document
    SalesCompanyFields-Output:
      properties:
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        billing_entities:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyBillingEntity'
            type: array
          - type: 'null'
          title: Billing Entities
          description: List of billing entities associated with the company
        status:
          anyOf:
          - $ref: '#/components/schemas/CustomerStatus'
          - type: 'null'
          description: "The status indicates whether an order can be linked to this customer. The available statuses are: \n - `PROSPECT`: The company is a potential customer but not yet approved. Only quotes can be created; no orders can be placed.\n - `NOT_APPROVED`: The company is not yet fully approved as a customer. This is an intermediary step between PROSPECT and APPROVED. Same permissions as PROSPECT apply.\n - `APPROVED`: The customer is approved. Orders can be placed without restrictions.\n - `WARNING`: The customer is approved, but a warning is triggered when attempting to create an order  in Qargo. The operator can dismiss the warning and proceed with the order.\n - `BLOCKED`: The customer is blocked; no new orders can be created.\n\n For a company representing other companies, it can only create orders if it holds the `APPROVED` status."
          default: APPROVED
          examples:
          - APPROVED
      type: object
      title: SalesCompanyFields
    CompanyValidity:
      properties:
        start_time:
          type: string
          format: date-time
          title: Start Time
          description: Start time of the validity
        end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: End Time
          description: End time of the validity from a planning perspective
        legal_end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Legal End Time
          description: End time of the validity from a legal perspective
        generate_unavailability:
          type: boolean
          title: Generate Unavailability
          description: Generate a planning unavailability once the validity end time has passed
          default: false
        type:
          $ref: '#/components/schemas/SubcontractorValidityReason'
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: ID of the validity in the external master data system
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      type: object
      required:
      - start_time
      - type
      title: CompanyValidity
    UploadedDocumentBase_Union_SubcontractorDocumentWithValidityTypeInput__SubcontractorInsuranceDocumentTypeInput__:
      properties:
        upload_id:
          type: string
          format: uuid
          title: Upload Id
          description: Unique identifier of the uploaded file
        document_type:
          anyOf:
          - $ref: '#/components/schemas/SubcontractorDocumentWithValidityTypeInput'
          - $ref: '#/components/schemas/SubcontractorInsuranceDocumentTypeInput'
          title: Document Type
          description: Type of the document
        name:
          type: string
          title: Name
          description: Name of the document
      type: object
      required:
      - upload_id
      - document_type
      - name
      title: UploadedDocumentBase[Union[SubcontractorDocumentWithValidityTypeInput, SubcontractorInsuranceDocumentTypeInput]]
    LocationOutput:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Technical code for integrations/mapping logic; should be treated as stable once set.
          examples:
          - LOC123
        display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Name
          description: Human-readable label for a location in operational views.
          examples:
          - Main Office
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: Identifier from an external (master data) system.
        address:
          anyOf:
          - type: string
          - type: 'null'
          title: Address
          description: First address line of the location
          examples:
          - Gaston Crommenlaan 4
        address_second_line:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Second Line
          description: Second address line of the location
          examples:
          - ''
        city:
          anyOf:
          - type: string
          - type: 'null'
          title: City
          description: City of the location
          examples:
          - Ghent
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
          description: State of the location
          examples:
          - ''
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
          description: Country code (ISO 3166-1 alpha-2) of the location
          examples:
          - BE
        postal_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Postal Code
          description: Postal code of the location
          examples:
          - '9050'
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the location
          examples:
          - Qargo HQ
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the location
        latitude:
          anyOf:
          - type: number
          - type: 'null'
          title: Latitude
          description: Latitude of the location
        longitude:
          anyOf:
          - type: number
          - type: 'null'
          title: Longitude
          description: Longitude of the location
      type: object
      title: LocationOutput
    CustomerDocumentTypeInput:
      type: string
      enum:
      - AUTHORIZATION_PREFERENTIAL_ORIGIN
      - BANK_DETAILS
      - CMR_INSURANCE
      - COMMUNICATION
      - COMPANY_TDS
      - CREDIT_REPORT
      - DGSA_CERTIFICATE
      - ECMT_TRANSPORT_LICENSE
      - EU_TRANSPORT_LICENSE
      - FREIGHT_FORWARDER_LICENSE
      - INSURANCE_3RD_PARTY_TRAILER
      - MEETING_SUMMARY
      - NATIONAL_TRANSPORT_LICENSE
      - OTHER
      - QUESTIONNAIRE_CUSTOMER
      - QUESTIONNAIRE_SUBCONTRACTOR
      - SERVICE_LEVEL_AGREEMENT
      - SQAS_CERTIFICATE
      - TRAILER_CLEANING_CERTIFICATE
      - VAT_VIES_VALIDATION
      - WASTE_PERMIT_GREEN_EU
      - WASTE_PERMIT_ORANGE_EU
      - WASTE_PERMIT_ORANGE_GREEN_EU
      title: CustomerDocumentTypeInput
    BasePaymentTerm:
      properties:
        code:
          $ref: '#/components/schemas/PaymentTermCode'
          description: 'Payment term codes and their explanations:

            - `END_OF_MONTH_2`: End of next two months

            - `END_OF_MONTH_1`: End of next month

            - `END_OF_MONTH_0_NET_90`: End of this month, plus 90 days

            - `END_OF_MONTH_0_NET_75`: End of this month, plus 75 days

            - `END_OF_MONTH_0_NET_70`: End of this month, plus 70 days

            - `END_OF_MONTH_0_NET_65`: End of this month, plus 65 days

            - `END_OF_MONTH_0_NET_60`: End of this month, plus 60 days

            - `END_OF_MONTH_0_NET_50`: End of this month, plus 50 days

            - `END_OF_MONTH_0_NET_45`: End of this month, plus 45 days

            - `END_OF_MONTH_0_NET_35`: End of this month, plus 35 days

            - `END_OF_MONTH_0_NET_31`: End of this month, plus 31 days

            - `END_OF_MONTH_0_NET_30`: End of this month, plus 30 days

            - `END_OF_MONTH_0_NET_25`: End of this month, plus 25 days

            - `END_OF_MONTH_0_NET_21`: End of this month, plus 21 days

            - `END_OF_MONTH_0_NET_14`: End of this month, plus 14 days

            - `END_OF_MONTH_0_NET_7`: End of this month, plus 7 days

            - `END_OF_MONTH_0_NET_1`: End of this month, plus 1 day

            - `END_OF_MONTH_0`: End of month

            - `PREPAID`: Prepaid

            - `CUSTOM_DUE_DATE`: Custom due date, set on invoice creation. Not allowed to set via the API

            - `UPON_RECEIPT`: Upon receipt

            - `NET_1`: 1 day after receipt

            - `NET_2`: 2 days after receipt

            - `NET_3`: 3 days after receipt

            - `NET_5`: 5 days after receipt

            - `NET_7`: 7 days after receipt

            - `NET_8`: 8 days after receipt

            - `NET_10`: 10 days after receipt

            - `NET_12`: 12 days after receipt

            - `NET_14`: 14 days after receipt

            - `NET_15`: 15 days after receipt

            - `NET_20`: 20 days after receipt

            - `NET_21`: 21 days after receipt

            - `NET_28`: 28 days after receipt

            - `NET_30`: 30 days after receipt

            - `NET_35`: 35 days after receipt

            - `NET_40`: 40 days after receipt

            - `NET_42`: 42 days after receipt

            - `NET_45`: 45 days after receipt

            - `NET_48`: 48 days after receipt

            - `NET_49`: 49 days after receipt

            - `NET_50`: 50 days after receipt

            - `NET_52`: 52 days after receipt

            - `NET_55`: 55 days after receipt

            - `NET_56`: 56 days after receipt

            - `NET_60`: 60 days after receipt

            - `NET_63`: 63 days after receipt

            - `NET_70`: 70 days after receipt

            - `NET_75`: 75 days after receipt

            - `NET_77`: 77 days after receipt

            - `NET_80`: 80 days after receipt

            - `NET_84`: 84 days after receipt

            - `NET_90`: 90 days after receipt

            - `NET_91`: 91 days after receipt

            - `NET_98`: 98 days after receipt

            - `NET_120`: 120 days after receipt'
          examples:
          - END_OF_MONTH_2
      type: object
      required:
      - code
      title: BasePaymentTerm
    ContactType:
      type: string
      enum:
      - BILLING
      - OPERATIONS
      - BOOKINGS
      - NOTIFICATIONS
      - CLEANING
      - HEATING
      - STORAGE
      - CONTAINER_RELEASE
      - DRIVER
      - OTHER
      - CMR_PROCESSING
      - PAYMENT_REMINDERS
      - CLAIMS_INSURANCE
      - CUSTOMS
      - IT
      - QUALITY
      - SALES
      - CUSTOMER_CONTACT
      title: ContactType
    ListCompanyValidityOutput:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        items:
          items:
            $ref: '#/components/schemas/CompanyValidityOutput'
          type: array
          title: Items
      type: object
      required:
      - items
      title: ListCompanyValidityOutput
    PaymentTermCode:
      type: string
      enum:
      - END_OF_MONTH_2
      - END_OF_MONTH_1
      - END_OF_MONTH_0_NET_90
      - END_OF_MONTH_0_NET_75
      - END_OF_MONTH_0_NET_70
      - END_OF_MONTH_0_NET_65
      - END_OF_MONTH_0_NET_60
      - END_OF_MONTH_0_NET_50
      - END_OF_MONTH_0_NET_45
      - END_OF_MONTH_0_NET_35
      - END_OF_MONTH_0_NET_31
      - END_OF_MONTH_0_NET_30
      - END_OF_MONTH_0_NET_25
      - END_OF_MONTH_0_NET_21
      - END_OF_MONTH_0_NET_14
      - END_OF_MONTH_0_NET_7
      - END_OF_MONTH_0_NET_1
      - END_OF_MONTH_0
      - PREPAID
      - CUSTOM_DUE_DATE
      - UPON_RECEIPT
      - NET_1
      - NET_2
      - NET_3
      - NET_5
      - NET_7
      - NET_8
      - NET_10
      - NET_12
      - NET_14
      - NET_15
      - NET_20
      - NET_21
      - NET_28
      - NET_30
      - NET_35
      - NET_40
      - NET_42
      - NET_45
      - NET_48
      - NET_49
      - NET_50
      - NET_52
      - NET_55
      - NET_56
      - NET_60
      - NET_63
      - NET_70
      - NET_75
      - NET_77
      - NET_80
      - NET_84
      - NET_90
      - NET_91
      - NET_98
      - NET_120
      title: PaymentTermCode
    CompanyInput:
      properties:
        is_customer:
          type: boolean
          title: Is Customer
          description: Indicate that this company is a customer
          default: false
        is_buyer_or_seller:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Buyer Or Seller
          description: Indicates that this company is a buyer or seller of a consignment
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the company.
          examples:
          - John Doe
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: External reference to this company record
          examples:
          - ''
        currency:
          type: string
          title: Currency
          description: Currency of the company (ISO 4217, 3 letter code)
          examples:
          - EUR
        custom_fields:
          anyOf:
          - type: object
          - type: 'null'
          title: Custom Fields
          description: Custom fields of the company
        credit_policy:
          anyOf:
          - $ref: '#/components/schemas/CreditPolicyInput'
          - type: 'null'
          description: Credit policy of the customer
        default_invoice_customer_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Default Invoice Customer Id
          description: ID of the default invoice customer (bill-to) for this company. When set, charges for this customer are billed to the referenced company instead.
        is_subcontractor:
          type: boolean
          title: Is Subcontractor
          description: Indicate that this company is a subcontractor (supplier)
          default: false
        archived_customer:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archived Customer
          description: Set to `true` to archive the customer role of this company, or `false` to reactivate it. Has no effect if `is_customer` is `false`.
        archived_subcontractor:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Archived Subcontractor
          description: Set to `true` to archive the subcontractor role of this company, or `false` to reactivate it. Has no effect if `is_subcontractor` is `false`.
        legal_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Legal Name
          description: Legal name of the company.
          examples:
          - John Doe
        locale:
          anyOf:
          - type: string
            pattern: ^[a-z]{2}(-[A-Z]{2})?$
          - type: 'null'
          title: Locale
          description: 'Locale of the company. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        vat_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vat Number
          description: VAT number of the company.
          examples:
          - BE1234.123.123
        reference_numbers:
          anyOf:
          - $ref: '#/components/schemas/CompanyReferenceNumbers'
          - type: 'null'
          description: Reference numbers of the company
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Additional notes about the company
          examples:
          - ''
        tax_type:
          anyOf:
          - $ref: '#/components/schemas/TaxTypeEnum'
          - type: 'null'
          description: DESCRIPTION_HERE
          default: VAT
          examples:
          - VAT
        bank_accounts:
          anyOf:
          - items:
              $ref: '#/components/schemas/BankAccount'
            type: array
          - type: 'null'
          title: Bank Accounts
          description: List of associated bank accounts.
          default: []
        accounting_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Accounting Code
          description: Code linked to the accounting system
          examples:
          - '1234'
        billing_location:
          anyOf:
          - $ref: '#/components/schemas/BillingLocation'
          - type: 'null'
          description: Billing address of the company.
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        contacts:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyContactInput'
            type: array
          - type: 'null'
          title: Contacts
          description: List of contacts associated with the company
        sales:
          $ref: '#/components/schemas/SalesCompanyFields-Input'
          description: Sales related fields of the company
        purchase:
          $ref: '#/components/schemas/PurchaseCompanyFields-Input'
          description: Purchase related fields of the company
        credit_limit_total:
          anyOf:
          - type: number
          - type: 'null'
          title: Credit Limit Total
          description: 'The limit for total amount that has been invoiced but not paid. **Deprecated**: use `credit_policy.limit` instead.'
          deprecated: true
          examples:
          - 12000
        is_blocked:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Blocked
          description: 'Set to true to disallow new order creation for companies representing companies.


            **Note**: Deprecated in favor of `status` under the `sales` and `purchase` fields.an update of `status` will always prevail over `is_blocked` update.'
          deprecated: true
        status:
          anyOf:
          - $ref: '#/components/schemas/CustomerStatus'
          - type: 'null'
          description: "The status indicates whether an order can be linked to this customer. The available statuses are: \n - `PROSPECT`: The company is a potential customer but not yet approved. Only quotes can be created; no orders can be placed.\n - `NOT_APPROVED`: The company is not yet fully approved as a customer. This is an intermediary step between PROSPECT and APPROVED. Same permissions as PROSPECT apply.\n - `APPROVED`: The customer is approved. Orders can be placed without restrictions.\n - `WARNING`: The customer is approved, but a warning is triggered when attempting to create an order  in Qargo. The operator can dismiss the warning and proceed with the order.\n - `BLOCKED`: The customer is blocked; no new orders can be created.\n\n For a company representing other companies, it can only create orders if it holds the `APPROVED` status.**Note**: Deprecated in favor of `status` under the `sales` and `purchase` fields."
          deprecated: true
          examples:
          - APPROVED
      type: object
      required:
      - currency
      title: CompanyInput
    CompanyValidityInput:
      properties:
        start_time:
          type: string
          format: date-time
          title: Start Time
          description: Start time of the validity
        end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: End Time
          description: End time of the validity from a planning perspective
        legal_end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Legal End Time
          description: End time of the validity from a legal perspective
        generate_unavailability:
          type: boolean
          title: Generate Unavailability
          description: Generate a planning unavailability once the validity end time has passed
          default: false
        type:
          $ref: '#/components/schemas/SubcontractorValidityReason'
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: ID of the validity in the external master data system
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        documents:
          items:
            $ref: '#/components/schemas/UploadedDocumentBase_Union_SubcontractorDocumentWithValidityTypeInput__SubcontractorInsuranceDocumentTypeInput__'
          type: array
          title: Documents
          description: List of documents associated with the validity
      type: object
      required:
      - start_time
      - type
      title: CompanyValidityInput
    CustomerStatus:
      type: string
      enum:
      - PROSPECT
      - NOT_APPROVED
      - APPROVED
      - WARNING
      - BLOCKED
      title: CustomerStatus
    CompanyContactOutput:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the contact
        roles:
          items:
            $ref: '#/components/schemas/ContactType'
          type: array
          title: Roles
          description: List of roles associated with the contact.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the contact person associated with the company.
          examples:
          - John Doe
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Additional notes about the contact person.
        email:
          anyOf:
          - type: string
          - type: 'null'
          title: Email
          description: Email address of the contact person.
        phone_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Phone Number
          description: Phone number of the contact person.
          examples:
          - '+32485123456'
      type: object
      title: CompanyContactOutput
    ValidationErrorDetail:
      properties:
        message:
          description: Human-readable summary of this validation failure
          title: Message
          type: string
        field:
          anyOf:
          - type: string
          - type: 'null'
          default: null
          description: Name of the field that failed validation, if known
          title: Field
        path:
          anyOf:
          - type: string
          - type: 'null'
          default: null
          description: JSON path to the field within the request payload (e.g. '$.consignor.address.country')
          title: Path
        detail:
          anyOf:
          - type: string
          - type: object
          - type: 'null'
          default: null
          description: Additional structured context about the failure, if provided by the backend
          title: Detail
      required:
      - message
      title: ValidationErrorDetail
      type: object
    CompanyReferenceNumbers:
      properties:
        eori_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Eori Number
          description: Economic Operator Registration and Identification
          examples:
          - ''
        duns_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Duns Number
          description: D-U-N-S Number
          examples:
          - ''
        scac_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Scac Code
          description: Standard Carrier Alpha Code
          examples:
          - ''
        company_registration_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Company Registration Number
          description: Company Registration Number
          examples:
          - ''
        tss_registration_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Tss Registration Number
          description: TSS registration number
          examples:
          - ''
      type: object
      title: CompanyReferenceNumbers
    api__accounting__models__company__CompanyReferenceOutput:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: The unique identifier of the company.
        name:
          type: string
          title: Name
          description: Name of the company.
          examples:
          - John Doe
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: External reference to this company record
          examples:
          - CUST-001
      type: object
      required:
      - id
      - name
      title: CompanyReferenceOutput
    CompanyContactInput:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the contact. When creating a new contact, this field should be omitted or set to null. This field only needs to be provided when updating an existing contact of the company
        is_archived:
          type: boolean
          title: Is Archived
          description: Indicates whether a contact should be archived. Set to true to archive the contact.
          default: false
        roles:
          items:
            $ref: '#/components/schemas/ContactType'
          type: array
          title: Roles
          description: List of roles associated with the contact.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the contact person associated with the company.
          examples:
          - John Doe
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Additional notes about the contact person.
        email:
          anyOf:
          - type: string
          - type: 'null'
          title: Email
          description: Email address of the contact person.
        phone_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Phone Number
          description: Phone number of the contact person. Expected format is E.164 (e.g., +32485123456).
          examples:
          - '+32485123456'
      type: object
      title: CompanyContactInput
    CompanyDocumentOutput:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the document
        name:
          type: string
          title: Name
          description: Name of the document
        type:
          anyOf:
          - $ref: '#/components/schemas/SubcontractorDocumentWithValidityTypeInput'
          - $ref: '#/components/schemas/SubcontractorInsuranceDocumentTypeInput'
          - $ref: '#/components/schemas/CustomerDocumentTypeInput'
          - $ref: '#/components/schemas/SubcontractorDocumentWithoutValidityTypeInput'
          title: Type
          description: Type of the document.
        download_url:
          type: string
          title: Download Url
          description: Relative URL from the base URL to download the document
          default: ''
        subject_type:
          type: string
          title: Subject Type
          description: Linked subject of the document
        content_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Type
          description: Content type of the document
        validity:
          anyOf:
          - $ref: '#/components/schemas/CompanyValidityOutput'
          - type: 'null'
          description: Validity information associated with the document.
      type: object
      required:
      - id
      - name
      - type
      - subject_type
      title: CompanyDocumentOutput
    ListCompanyDocumentOutput:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        items:
          items:
            $ref: '#/components/schemas/CompanyDocumentOutput'
          type: array
          title: Items
      type: object
      required:
      - items
      title: ListCompanyDocumentOutput
    PurchaseCompanyFields-Output:
      properties:
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        billing_entities:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyBillingEntity'
            type: array
          - type: 'null'
          title: Billing Entities
          description: List of billing entities associated with the company
        status:
          anyOf:
          - $ref: '#/components/schemas/SubcontractorStatus'
          - type: 'null'
          description: "The status indicates whether an order can be linked to this subcontractor. The available statuses are: \n - `NOT_APPROVED`: The subcontractor is not yet approved.\n - `APPROVED`: The subcontractor is approved.\n - `WARNING`: The subcontractor is approved, but a warning is triggered.\n - `BLOCKED`: The subcontractor is blocked; no new orders can be assigned."
          default: APPROVED
          examples:
          - APPROVED
      type: object
      title: PurchaseCompanyFields
    CreditPolicyInput:
      properties:
        limit:
          anyOf:
          - type: number
          - type: 'null'
          title: Limit
          description: The limit for total amount that has been invoiced but not paid.
          examples:
          - 10000
      type: object
      title: CreditPolicyInput
    SubcontractorInsuranceDocumentTypeInput:
      type: string
      enum:
      - DOMESTIC_CARGO_INSURANCE
      - SUBCONTRACTOR_INSURANCE
      - INSURANCE_3RD_PARTY_TRAILER
      - CARGO_INSURANCE
      - SUBCONTRACTOR_LIABILITY_INSURANCE
      - SUBCONTRACTOR_MOTOR_INSURANCE
      title: SubcontractorInsuranceDocumentTypeInput
    CompanyValidityOutput:
      properties:
        start_time:
          type: string
          format: date-time
          title: Start Time
          description: Start time of the validity
        end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: End Time
          description: End time of the validity from a planning perspective
        legal_end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Legal End Time
          description: End time of the validity from a legal perspective
        generate_unavailability:
          type: boolean
          title: Generate Unavailability
          description: Generate a planning unavailability once the validity end time has passed
          default: false
        type:
          $ref: '#/components/schemas/SubcontractorValidityReason'
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: ID of the validity in the external master data system
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the validity
      type: object
      required:
      - start_time
      - type
      - id
      title: CompanyValidityOutput
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
            - type: string
            - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
      - loc
      - msg
      - type
      title: ValidationError
    SubcontractorDocumentWithValidityTypeInput:
      type: string
      enum:
      - ATA_CARNET
      - BANK_DETAILS
      - CMR_INSURANCE
      - COMMON_HEALTH_ENTRY_DOCUMENT
      - COMMUNICATION
      - COMMUNICATION_SUBCONTRACTOR
      - SUBCONTRACTOR_CONTRACT
      - CREDIT_REPORT
      - DGSA_CERTIFICATE
      - ECMT_TRANSPORT_LICENSE
      - EU_TRANSPORT_LICENSE
      - EXPORT_HEALTH_CERTIFICATE
      - FINE
      - FREIGHT_FORWARDER_LICENSE
      - SUBCONTRACTOR_LICENSE
      - NATIONAL_TRANSPORT_LICENSE
      - OTHER
      - SUBCONTRACTOR_PERMIT
      - POWER_OF_ATTORNEY
      - QUESTIONNAIRE_CUSTOMER
      - QUESTIONNAIRE_SUBCONTRACTOR
      - SERVICE_LEVEL_AGREEMENT
      - SQAS_CERTIFICATE
      - COMPANY_TDS
      - TRAILER_CLEANING_CERTIFICATE
      - VAT_VIES_VALIDATION
      - SUBCONTRACTOR_WASTE_LICENSE
      - WASTE_PERMIT_GREEN_EU
      - WASTE_PERMIT_ORANGE_EU
      - WASTE_PERMIT_ORANGE_GREEN_EU
      - XL_CERTIFICATE
      title: SubcontractorDocumentWithValidityTypeInput
    BankAccount:
      properties:
        bic_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Bic Code
        iban_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Iban Code
      type: object
      title: BankAccount
    SubcontractorStatus:
      type: string
      enum:
      - NOT_APPROVED
      - APPROVED
      - WARNING
      - BLOCKED
      title: SubcontractorStatus
    BillingLocation:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the location
          examples:
          - ''
        display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Name
          description: Human-readable label for a location in operational views.
          examples:
          - Main Office
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: Identifier from an external (master data) system.
        address:
          anyOf:
          - type: string
          - type: 'null'
          title: Address
          description: First address line of the location
          examples:
          - Gaston Crommenlaan 4
        address_second_line:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Second Line
          description: Second address line of the location
          examples:
          - ''
        city:
          anyOf:
          - type: string
          - type: 'null'
          title: City
          description: City of the location
          examples:
          - Ghent
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
          description: State of the location
          examples:
          - ''
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
          description: Country code (ISO 3166-1 alpha-2) of the location
          examples:
          - BE
        postal_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Postal Code
          description: Postal code of the location
          examples:
          - '9050'
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the location
          examples:
          - Qargo HQ
      type: object
      title: BillingLocation
    CompanyBillingEntity:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the billing entity associated with the company.
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the billing entity associated with the company.
        accounting_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Accounting Code
          description: Accounting code linked to the billing entity for the company.
      type: object
      title: CompanyBillingEntity
    TaxTypeEnum:
      type: string
      enum:
      - VAT
      - REVERSE_CHARGE
      - TRANSIT
      - NO_VAT
      - CO_CONTRACTING
      - OTHER
      title: TaxTypeEnum
    ValidationErrorResponse:
      properties:
        message:
          description: Human-readable summary of the validation failure
          title: Message
          type: string
        errors:
          description: One entry per validation failure. Always present and non-empty — a single failure yields a one-item array, so integrators can handle one and many the same way.
          items:
            $ref: '#/components/schemas/ValidationErrorDetail'
          minItems: 1
          title: Errors
          type: array
      required:
      - message
      - errors
      title: ValidationErrorResponse
      type: object
    SalesCompanyFields-Input:
      properties:
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        billing_entities:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyBillingEntity'
            type: array
          - type: 'null'
          title: Billing Entities
          description: List of billing entities associated with the company
        status:
          anyOf:
          - $ref: '#/components/schemas/CustomerStatus'
          - type: 'null'
          description: "The status indicates whether an order can be linked to this customer. The available statuses are: \n - `PROSPECT`: The company is a potential customer but not yet approved. Only quotes can be created; no orders can be placed.\n - `NOT_APPROVED`: The company is not yet fully approved as a customer. This is an intermediary step between PROSPECT and APPROVED. Same permissions as PROSPECT apply.\n - `APPROVED`: The customer is approved. Orders can be placed without restrictions.\n - `WARNING`: The customer is approved, but a warning is triggered when attempting to create an order  in Qargo. The operator can dismiss the warning and proceed with the order.\n - `BLOCKED`: The customer is blocked; no new orders can be created.\n\n For a company representing other companies, it can only create orders if it holds the `APPROVED` status."
          default: APPROVED
          examples:
          - APPROVED
      type: object
      title: SalesCompanyFields
  securitySchemes:
    oAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          scopes: {}
          tokenUrl: /v1/auth/token
    BasicAuthWebhookCredentials:
      type: http
      scheme: basic
x-tagGroups:
- name: Use cases
  tags:
  - Use case / Accounting
  - Use case / Customer portal
  - Use case / Document import
  - Use case / E-invoicing
  - Use case / Fleet dispatch
  - Use case / Intermodal [partner]
  - Use case / Location booking
  - Use case / Master data sync
  - Use case / Order
  - Use case / Subcontractor dispatch
  - Use case / Tracking
  - Use case / Trip import
  - Use case / Visibility
- name: API
  tags:
  - API / Accounting
  - API / Authentication
  - API / Company
  - API / Document
  - API / Order
  - API / Resource
  - API / Task
  - API / Trip
- name: System
  tags:
  - System
- name: Webhooks
  tags:
  - Webhooks / Inbound
  - Webhooks / Outbound
- name: ''
  tags: []
