openapi: 3.2.0
info:
  title: Qargo TMS API / Accounting API
  description: For support, please contact integrations@qargo.com.
  version: 1.2.0
servers:
- url: https://api.qargo.com
tags:
- name: API / Accounting
  description: ''
paths:
  /v1/accounting/accounts:
    get:
      tags:
      - API / Accounting
      summary: List Accounts
      description: Lists accounting codes (GL / nominal codes) for the tenant, with optional filtering and pagination.
      operationId: List_accounts_v1_accounting_accounts_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by archived status. Omit to return all accounts.
          title: Archived
        description: Filter by archived status. Omit to return all accounts.
      - name: billing_entity_code
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by billing entity code.
          title: Billing Entity Code
        description: Filter by billing entity code.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAccountOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/accounts/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Account
      description: Retrieves a single accounting code (GL / nominal code) by its ID.
      operationId: Retrieve_account_v1_accounting_accounts__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api__accounting__models__master_data__AccountOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/exchange-rate:
    post:
      tags:
      - API / Accounting
      summary: Create An Exchange Rate
      description: Creates an exchange rate in Qargo for the given currency pair and date.
      operationId: Create_an_exchange_rate_v1_accounting_exchange_rate_post
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangeRateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExchangeRateOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    get:
      tags:
      - API / Accounting
      summary: List Exchange Rates
      description: Retrieves a list of exchange rates with optional currency and date filters. When filtering by both from_currency and to_currency, results are returned in the requested direction regardless of how they are stored internally.
      operationId: List_exchange_rates_v1_accounting_exchange_rate_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: from_currency
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/CurrencyCode'
          - type: 'null'
          description: Filter by source currency code (ISO 4217).
          title: From Currency
        description: Filter by source currency code (ISO 4217).
      - name: to_currency
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/CurrencyCode'
          - type: 'null'
          description: Filter by target currency code (ISO 4217).
          title: To Currency
        description: Filter by target currency code (ISO 4217).
      - name: exchange_rate_date:gte
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Filter exchange rates on or after this date.
          title: Exchange Rate Date:Gte
        description: Filter exchange rates on or after this date.
      - name: exchange_rate_date:lte
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          description: Filter exchange rates on or before this date.
          title: Exchange Rate Date:Lte
        description: Filter exchange rates on or before this date.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExchangeRateOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase-credit-note/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Purchase Credit Note
      operationId: Retrieve_purchase_credit_note_v1_accounting_purchase_credit_note__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseCreditNote'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Purchase Credit Note
      operationId: Update_purchase_credit_note_v1_accounting_purchase_credit_note__id__patch
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseCreditNoteInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseCreditNote'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase-credit-note/{id}/documents:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Purchase Credit Note Documents
      operationId: Retrieve_purchase_credit_note_documents_v1_accounting_purchase_credit_note__id__documents_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Retrieve Purchase Credit Note Documents V1 Accounting Purchase Credit Note  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase-credit-note/{id}/refund/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Refund Status For Purchase Credit Note
      operationId: Report_refund_status_for_purchase_credit_note_v1_accounting_purchase_credit_note__id__refund_update_status_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundStatusUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundStatusUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase-invoice/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Purchase Invoice
      operationId: Retrieve_purchase_invoice_v1_accounting_purchase_invoice__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoice'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Purchase Invoice
      operationId: Update_purchase_invoice_v1_accounting_purchase_invoice__id__patch
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoiceInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoice'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase-invoice/{id}/documents:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Purchase Invoice Documents
      operationId: Retrieve_purchase_invoice_documents_v1_accounting_purchase_invoice__id__documents_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Retrieve Purchase Invoice Documents V1 Accounting Purchase Invoice  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase-invoice/{id}/payment/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Payment Status For Purchase Invoice
      operationId: Report_payment_status_for_purchase_invoice_v1_accounting_purchase_invoice__id__payment_update_status_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentStatusUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-credit-note/:
    post:
      tags:
      - API / Accounting
      summary: Create A Sales Credit Note
      operationId: Create_a_sales_credit_note_v1_accounting_sales_credit_note__post
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesCreditNoteInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesCreditNoteOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-credit-note/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Credit Note
      operationId: Retrieve_sales_credit_note_v1_accounting_sales_credit_note__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesCreditNoteOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Credit Note
      operationId: Update_credit_note_v1_accounting_sales_credit_note__id__patch
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesCreditNotePatchInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesCreditNoteOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-credit-note/{id}/documents:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Credit Note Documents
      operationId: Retrieve_sales_credit_note_documents_v1_accounting_sales_credit_note__id__documents_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Retrieve Sales Credit Note Documents V1 Accounting Sales Credit Note  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-credit-note/{id}/refund/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Refund Status For Sales Credit Note
      operationId: Report_refund_status_for_sales_credit_note_v1_accounting_sales_credit_note__id__refund_update_status_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundStatusUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundStatusUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-invoice/:
    post:
      tags:
      - API / Accounting
      summary: Create A Sales Invoice
      operationId: Create_a_sales_invoice_v1_accounting_sales_invoice__post
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoiceInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-invoice/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Invoice
      operationId: Retrieve_sales_invoice_v1_accounting_sales_invoice__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Sales Invoice
      operationId: Update_sales_invoice_v1_accounting_sales_invoice__id__patch
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoicePatchInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-invoice/{id}/documents:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Invoice Documents
      operationId: Retrieve_sales_invoice_documents_v1_accounting_sales_invoice__id__documents_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Retrieve Sales Invoice Documents V1 Accounting Sales Invoice  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales-invoice/{id}/payment/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Payment Status For Sales Invoice
      operationId: Report_payment_status_for_sales_invoice_v1_accounting_sales_invoice__id__payment_update_status_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentStatusUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sync-tasks:
    get:
      tags:
      - API / Accounting
      summary: List Invoices/Credit Notes To Sync
      operationId: List_invoices_credit_notes_to_sync_v1_accounting_sync_tasks_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: billing_entity_code
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Billing entity code to filter tasks, useful if multiple billing entities are linked to the same integration
          title: Billing Entity Code
        description: Billing entity code to filter tasks, useful if multiple billing entities are linked to the same integration
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableTasks'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sync-tasks/{id}:
    get:
      tags:
      - API / Accounting
      summary: Get Details Of Invoice/Credit Note To Sync
      operationId: Get_details_of_Invoice_Credit_note_to_sync_v1_accounting_sync_tasks__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskDetail'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sync-tasks/{id}/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Sync Status For Invoice/Credit Note
      description: Reports the sync status for an invoice/credit note task. No billing_entity_code is required.
      operationId: Report_sync_status_for_invoice_credit_note_v1_accounting_sync_tasks__id__update_status_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskUpdateInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/tax-rates:
    get:
      tags:
      - API / Accounting
      summary: List Tax Rates
      description: Lists tax rates for the tenant, with optional filtering and pagination.
      operationId: List_tax_rates_v1_accounting_tax_rates_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: 'null'
          description: Filter by archived status. Omit to return all tax rates.
          title: Archived
        description: Filter by archived status. Omit to return all tax rates.
      - name: billing_entity_code
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Filter by billing entity code.
          title: Billing Entity Code
        description: Filter by billing entity code.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTaxRateOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/tax-rates/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Tax Rate
      description: Retrieves a single tax rate by its ID.
      operationId: Retrieve_tax_rate_v1_accounting_tax_rates__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaxRateOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/company:
    get:
      tags:
      - API / Accounting
      summary: List Companies (Deprecated)
      description: (deprecated, use /company instead)
      operationId: list_companies__deprecated__v1_accounting_company_get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: updated_after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch the companies updated after this time. Format is ISO 8601 YYYY-MM-DDTHH:MM:SSZ
          title: Updated After
        description: Filter to fetch the companies updated after this time. Format is ISO 8601 YYYY-MM-DDTHH:MM:SSZ
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCompanyOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    post:
      tags:
      - API / Accounting
      summary: Create Company (Deprecated)
      description: (deprecated, use /company instead)
      operationId: create_company__deprecated__v1_accounting_company_post
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/company/{id}:
    get:
      tags:
      - API / Accounting
      summary: Get Company (Deprecated)
      description: (deprecated, use /company/{id} instead)
      operationId: get_company__deprecated__v1_accounting_company__id__get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    put:
      tags:
      - API / Accounting
      summary: Update Company (Deprecated)
      description: (deprecated, use /company/{id} instead)
      operationId: update_company__deprecated__v1_accounting_company__id__put
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Company (Deprecated)
      description: (deprecated, use /company/{id} instead)
      operationId: update_company__deprecated__v1_accounting_company__id__patch
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompanyPartialInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompanyDetailOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    delete:
      tags:
      - API / Accounting
      summary: Archive Company (Deprecated)
      description: 'Archive the company. This is a soft-delete: the company record is preserved and its `archived_customer`, `archived_subcontractor`, and `archived_buyer_or_seller` flags are set to `true` so it no longer appears in active lists.(deprecated, use /company/{id} instead)'
      operationId: Archive_company__deprecated__v1_accounting_company__id__delete
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase_invoice/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Purchase Invoice (Deprecated)
      description: (deprecated, use /purchase-invoice/{id} instead)
      operationId: Retrieve_purchase_invoice__deprecated__v1_accounting_purchase_invoice__id__get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoice'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Purchase Invoice (Deprecated)
      description: (deprecated, use /purchase-invoice/{id} instead)
      operationId: Update_purchase_invoice__deprecated__v1_accounting_purchase_invoice__id__patch
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseInvoiceInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PurchaseInvoice'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase_invoice/{id}/documents:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Purchase Invoice Documents (Deprecated)
      description: (deprecated, use /purchase-invoice/{id}/documents instead)
      operationId: Retrieve_purchase_invoice_documents__deprecated__v1_accounting_purchase_invoice__id__documents_get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Retrieve Purchase Invoice Documents  Deprecated  V1 Accounting Purchase Invoice  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/purchase_invoice/{id}/payment/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Payment Status For Purchase Invoice (Deprecated)
      description: (deprecated, use /purchase-invoice/{id}/payment/update-status instead)
      operationId: Report_payment_status_for_purchase_invoice__deprecated__v1_accounting_purchase_invoice__id__payment_update_status_post
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentStatusUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales_credit_note/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Credit Note (Deprecated)
      description: (deprecated, use /sales-credit-note/{id} instead)
      operationId: Retrieve_sales_credit_note__deprecated__v1_accounting_sales_credit_note__id__get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesCreditNoteOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Credit Note (Deprecated)
      description: (deprecated, use /sales-credit-note/{id} instead)
      operationId: Update_credit_note__deprecated__v1_accounting_sales_credit_note__id__patch
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesCreditNotePatchInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesCreditNoteOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales_credit_note/{id}/documents:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Credit Note Documents (Deprecated)
      description: (deprecated, use /sales-credit-note/{id}/documents instead)
      operationId: Retrieve_sales_credit_note_documents__deprecated__v1_accounting_sales_credit_note__id__documents_get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Retrieve Sales Credit Note Documents  Deprecated  V1 Accounting Sales Credit Note  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales_credit_note/{id}/refund/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Refund Status For Sales Credit Note (Deprecated)
      description: (deprecated, use /sales-credit-note/{id}/refund/update-status instead)
      operationId: Report_refund_status_for_sales_credit_note__deprecated__v1_accounting_sales_credit_note__id__refund_update_status_post
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundStatusUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefundStatusUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales_invoice/{id}:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Invoice (Deprecated)
      description: (deprecated, use /sales-invoice/{id} instead)
      operationId: Retrieve_sales_invoice__deprecated__v1_accounting_sales_invoice__id__get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API / Accounting
      summary: Update Sales Invoice (Deprecated)
      description: (deprecated, use /sales-invoice/{id} instead)
      operationId: Update_sales_invoice__deprecated__v1_accounting_sales_invoice__id__patch
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SalesInvoicePatchInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SalesInvoiceOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales_invoice/{id}/documents:
    get:
      tags:
      - API / Accounting
      summary: Retrieve Sales Invoice Documents (Deprecated)
      description: (deprecated, use /sales-invoice/{id}/documents instead)
      operationId: Retrieve_sales_invoice_documents__deprecated__v1_accounting_sales_invoice__id__documents_get
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Retrieve Sales Invoice Documents  Deprecated  V1 Accounting Sales Invoice  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/accounting/sales_invoice/{id}/payment/update-status:
    post:
      tags:
      - API / Accounting
      summary: Report Payment Status For Sales Invoice (Deprecated)
      description: (deprecated, use /sales-invoice/{id}/payment/update-status instead)
      operationId: Report_payment_status_for_sales_invoice__deprecated__v1_accounting_sales_invoice__id__payment_update_status_post
      deprecated: true
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentStatusUpdate'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentStatusUpdate'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
components:
  schemas:
    CreditPolicyOutput:
      properties:
        limit:
          anyOf:
          - type: number
          - type: 'null'
          title: Limit
          description: The limit for total amount that has been invoiced but not paid.
          examples:
          - 10000
      type: object
      title: CreditPolicyOutput
    ListCompanyOutput:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        items:
          items:
            $ref: '#/components/schemas/CompanyDetailOutput'
          type: array
          title: Items
      type: object
      required:
      - items
      title: ListCompanyOutput
    SalesInvoiceOutput:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: Invoicing date
          examples:
          - '2022-01-01'
        due_date:
          type: string
          format: date
          title: Due Date
          examples:
          - '2022-01-01'
        booking_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Booking Date
          description: booking date needs to be enabled else this will default to the date field
          examples:
          - '2021-12-22'
        currency:
          type: string
          title: Currency
          description: Currency code (ISO 4217).
          examples:
          - EUR
        customer_reference_numbers:
          items:
            type: string
          type: array
          title: Customer Reference Numbers
          description: PO numbers
          default: []
          examples:
          - - '12345'
        custom_fields:
          type: object
          title: Custom Fields
          default: {}
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Technical id within the Qargo system
        name:
          type: string
          title: Name
          description: Name of the invoice.
          examples:
          - Invoice-0001
        e_invoicing:
          anyOf:
          - $ref: '#/components/schemas/EInvoicingOutput'
          - type: 'null'
          description: E-invoicing registration metadata.
        exchange_rate:
          anyOf:
          - $ref: '#/components/schemas/ExchangeRate'
          - type: 'null'
        total_excl_tax:
          type: string
          title: Total Excl Tax
          examples:
          - '100'
        total_incl_tax:
          type: string
          title: Total Incl Tax
          examples:
          - '121'
        total_tax:
          type: string
          title: Total Tax
          examples:
          - '21'
        customer:
          $ref: '#/components/schemas/CompanySummaryOutput'
        line_items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
          title: Line Items
        billing_entity:
          $ref: '#/components/schemas/BillingEntity'
          description: Billing entity linked to this invoice.
      type: object
      required:
      - date
      - due_date
      - currency
      - id
      - name
      - total_excl_tax
      - total_incl_tax
      - total_tax
      - customer
      - line_items
      - billing_entity
      title: SalesInvoiceOutput
    CustomerReference:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: The unique Qargo ID of the customer. Use this to distinguish between different customers sharing the same accounting code.
        accounting_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Accounting Code
          description: Accounting code that uniquely identifies the customer in the accounting system.
      type: object
      title: CustomerReference
    RefundStatus:
      type: string
      enum:
      - OPEN
      - REFUNDED
      title: RefundStatus
    LocationOutput:
      properties:
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Technical code for integrations/mapping logic; should be treated as stable once set.
          examples:
          - LOC123
        display_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Display Name
          description: Human-readable label for a location in operational views.
          examples:
          - Main Office
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: Identifier from an external (master data) system.
        address:
          anyOf:
          - type: string
          - type: 'null'
          title: Address
          description: First address line of the location
          examples:
          - Gaston Crommenlaan 4
        address_second_line:
          anyOf:
          - type: string
          - type: 'null'
          title: Address Second Line
          description: Second address line of the location
          examples:
          - ''
        city:
          anyOf:
          - type: string
          - type: 'null'
          title: City
          description: City of the location
          examples:
          - Ghent
        state:
          anyOf:
          - type: string
          - type: 'null'
          title: State
          description: State of the location
          examples:
          - ''
        country:
          anyOf:
          - type: string
          - type: 'null'
          title: Country
          description: Country code (ISO 3166-1 alpha-2) of the location
          examples:
          - BE
        postal_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Postal Code
          description: Postal code of the location
          examples:
          - '9050'
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the location
          examples:
          - Qargo HQ
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the location
        latitude:
          anyOf:
          - type: number
          - type: 'null'
          title: Latitude
          description: Latitude of the location
        longitude:
          anyOf:
          - type: number
          - type: 'null'
          title: Longitude
          description: Longitude of the location
      type: object
      title: LocationOutput
    SalesCreditNoteOutput:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: Credit note date
          examples:
          - '2022-01-01'
        booking_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Booking Date
          description: booking date needs to be enabled else this will default to the date field
          examples:
          - '2021-12-22'
        currency:
          type: string
          title: Currency
          examples:
          - EUR
        custom_fields:
          type: object
          title: Custom Fields
          default: {}
        customer_reference_numbers:
          items:
            type: string
          type: array
          title: Customer Reference Numbers
          examples:
          - - '12345'
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Technical id within the Qargo system
        name:
          type: string
          title: Name
          examples:
          - Credit-Note-0001
        e_invoicing:
          anyOf:
          - $ref: '#/components/schemas/EInvoicingOutput'
          - type: 'null'
          description: E-invoicing registration metadata.
        exchange_rate:
          anyOf:
          - $ref: '#/components/schemas/ExchangeRate'
          - type: 'null'
        total_excl_tax:
          type: string
          title: Total Excl Tax
          examples:
          - '100'
        total_incl_tax:
          type: string
          title: Total Incl Tax
          examples:
          - '121'
        total_tax:
          type: string
          title: Total Tax
          examples:
          - '21'
        customer:
          $ref: '#/components/schemas/CompanySummaryOutput'
        line_items:
          items:
            $ref: '#/components/schemas/LineItem'
          type: array
          title: Line Items
        billing_entity:
          $ref: '#/components/schemas/BillingEntity'
          description: Billing entity linked to this credit note.
      type: object
      required:
      - date
      - currency
      - id
      - name
      - total_excl_tax
      - total_incl_tax
      - total_tax
      - customer
      - line_items
      - billing_entity
      title: SalesCreditNoteOutput
    SubjectType:
      type: string
      enum:
      - SALES_INVOICE
      - SALES_CREDIT_NOTE
      - PURCHASE_INVOICE
      - PURCHASE_CREDIT_NOTE
      title: SubjectType
    api__accounting__models__master_data__AccountOutput:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the record in Qargo.
        archived:
          type: boolean
          title: Archived
          description: Whether this record has been archived.
        code:
          type: string
          title: Code
          description: Accounting code (GL / nominal code).
        name:
          type: string
          title: Name
          description: Display name of the account.
        billing_entity:
          $ref: '#/components/schemas/BillingEntity'
          description: Billing entity this account belongs to.
      type: object
      required:
      - id
      - archived
      - code
      - name
      - billing_entity
      title: AccountOutput
    LineItem:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique id of this line item. A Qargo invoice line can be represented with multiple LineItems if revenue/cost split is enabled.
        invoice_line_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Invoice Line Id
          description: Technical id of the invoice within the Qargo system
        name:
          type: string
          title: Name
          description: Name of the charge line.
          examples:
          - Fuel charge
        amount:
          type: string
          title: Amount
          description: Amount of the charge line.
          examples:
          - '100'
        code:
          type: string
          title: Code
          description: Code of the type of charge line.
          examples:
          - FUEL
        account:
          anyOf:
          - $ref: '#/components/schemas/api__order__models__charge__AccountOutput'
          - type: 'null'
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
          description: Freeform description field
          default: ''
          examples:
          - Charge description
        tax_rate:
          anyOf:
          - $ref: '#/components/schemas/api__accounting__models__invoice__TaxRate'
          - type: 'null'
        base_tax_rate:
          anyOf:
          - $ref: '#/components/schemas/BaseTaxRate'
          - type: 'null'
          description: Original tax rate before applying tax rules.
        order_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Order Name
          description: Linked Qargo order name, for cost charges.
          examples:
          - Order-0001
        order_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Order Id
          description: Linked Qargo order id, for cost charges.
        trip_id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Trip Id
          description: Linked Qargo trip id, for cost charges
        is_credit_charge:
          type: boolean
          title: Is Credit Charge
          default: false
          examples:
          - false
        invoice_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Invoice Name
          description: Name of the source invoice this line item is linked to, if applicable.
          examples:
          - Invoice-0001
        currency:
          type: string
          title: Currency
          examples:
          - USD
        fraction:
          type: string
          title: Fraction
          description: The api can split the charge lines according to revenue. This fraction indicates the percentage of the total amount of the split for this set of dimensions.
          default: '1'
          examples:
          - '0.5'
        dimension_1:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 1
        dimension_2:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 2
        dimension_3:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 3
        dimension_4:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 4
        dimension_5:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 5
        dimension_6:
          anyOf:
          - type: string
          - type: 'null'
          title: Dimension 6
      type: object
      required:
      - id
      - invoice_line_id
      - name
      - amount
      - code
      - currency
      title: LineItem
      description: 'Represents a single invoice/credit line item.


        Note that a single invoice line can be split up in multiple line items

        if revenue split is enabled.'
    TaskUpdateInput:
      properties:
        status:
          $ref: '#/components/schemas/TaskStatusInput'
        failure:
          anyOf:
          - $ref: '#/components/schemas/TaskFailureStatus'
          - type: 'null'
      type: object
      required:
      - status
      title: TaskUpdateInput
      description: 'Update task status on completion/failure.


        The failure field can be used to provide more information on failure.'
    PurchaseCompanyFields-Output:
      properties:
        payment_term:
          anyOf:
          - $ref: '#/components/schemas/BasePaymentTerm'
          - type: 'null'
          description: Payment term information of the company
        billing_entities:
          anyOf:
          - items:
              $ref: '#/components/schemas/CompanyBillingEntity'
            type: array
          - type: 'null'
          title: Billing Entities
          description: List of billing entities associated with the company
        status:
          anyOf:
          - $ref: '#/components/schemas/SubcontractorStatus'
          - type: 'null'
          description: "The status indicates whether an order can be linked to this subcontractor. The available statuses are: \n - `NOT_APPROVED`: The subcontractor is not yet approved.\n - `APPROVED`: The subcontractor is approved.\n - `WARNING`: The subcontractor is approved, but a warning is triggered.\n - `BLOCKED`: The subcontractor is blocked; no new orders can be assigned."
          default: APPROVED
          examples:
          - APPROVED
      type: object
      title: PurchaseCompanyFields
    TaskUpdate:
      properties:
        status:
          $ref: '#/components/schemas/TaskStatus'
      type: object
      required:
      - status
      title: TaskUpdate
      description: Update task status result.
    CreditPolicyInput:
      properties:
        limit:
          anyOf:
          - type: number
          - type: 'null'
          title: Limit
          description: The limit for total amount that has been invoiced but not paid.
          examples:
          - 10000
      type: object
      title: CreditPolicyInput
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    SalesCreditNoteInput:
      properties:
        date:
          type: string
          format: date
          title: Date
          description: Credit note date
          examples:
          - '2022-01-01'
        booking_date:
          anyOf:
          - type: string
            format: date
          - type: 'null'
          title: Booking Date
          description: booking date needs to be enabled else this will default to the date field
          examples:
          - '2021-12-22'
        currency:
          type: string
          title: Currency
          examples:
          - EUR
        custom_fields:
          type: object
          title: Custom Fields
          default: {}
        customer_reference_numbers:
          items:
            type: string
          type: array
          title: Customer Reference Numbers
          examples:
          - - '12345'
        customer:
          $ref: '#/components/schemas/CustomerReference'
          description: Customer reference for this credit note.
        charges:
          items:
            $ref: '#/components/schemas/ChargeInput'
          type: array
          title: Charges
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntityReference'
          - type: 'null'
          description: Billing entity linked to this credit note. When having multiple billing entities make sure to specify the correct entity.
      type: object
      required:
      - date
      - currency
      - customer
      - charges
      title: SalesCreditNoteInput
    CompanyBillingEntity:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the billing entity associated with the company.
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the billing entity associated with the company.
        accounting_code:
          anyOf:
          - type: string
          - type: 'null'
          title: Accounting Code
          description: Accounting code linked to the billing entity for the company.
      type: object
      title: CompanyBillingEntity
    TaxTypeEnum:
      type: string
      enum:
      - VAT
      - REVERSE_CHARGE
      - TRANSIT
      - NO_VAT
      - CO_CONTRACTING
      - OTHER
      title: TaxTypeEnum
    CompanyContactOutput:
      properties:
        id:
          anyOf:
          - type: string
            format: uuid
          - type: 'null'
          title: Id
          description: Unique identifier of the contact
        roles:
          items:
            $ref: '#/components/schemas/ContactType'
          type: array
          title: Roles
          description: List of roles associated with the contact.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the contact person associated with the company.
          examples:
          - John Doe
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Additional notes about the contact person.
        email:
          anyOf:
          - type: string
          - type: 'null'
          title: Email
          description: Email address of the contact person.
        phone_number:
          anyOf:
          - type: string
[...]
