openapi: 3.2.0
info:
  title: Qargo TMS API / Resource API
  description: For support, please contact integrations@qargo.com.
  version: 1.2.0
servers:
- url: https://api.qargo.com
tags:
- name: API Resource
  description: ''
paths:
  /v1/resources/resource:
    post:
      tags:
      - API Resource
      summary: Create Resource
      description: Create a new resource.
      operationId: Create_resource_v1_resources_resource_post
      security:
      - oAuth2ClientCredentials: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/DriverResourceInput'
              - $ref: '#/components/schemas/TractorResourceInput'
              - $ref: '#/components/schemas/TruckResourceInput'
              - $ref: '#/components/schemas/VanResourceInput'
              - $ref: '#/components/schemas/TrailerResourceInput'
              - $ref: '#/components/schemas/FullTrailerResourceInput'
              - $ref: '#/components/schemas/ChassisResourceInput'
              - $ref: '#/components/schemas/ContainerResourceInput'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/DriverResourceOutput'
                - $ref: '#/components/schemas/TractorResourceOutput'
                - $ref: '#/components/schemas/TruckResourceOutput'
                - $ref: '#/components/schemas/VanResourceOutput'
                - $ref: '#/components/schemas/TrailerResourceOutput'
                - $ref: '#/components/schemas/FullTrailerResourceOutput'
                - $ref: '#/components/schemas/ChassisResourceOutput'
                - $ref: '#/components/schemas/ContainerResourceOutput'
                title: Response Create Resource V1 Resources Resource Post
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    get:
      tags:
      - API Resource
      summary: List Resources
      description: List all resources
      operationId: List_resources_v1_resources_resource_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: updated_after
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch the resources updated after this time. Timestamp format is ISO 8601 YYYY-MM-DDTHH:MM:SSZ
          title: Updated After
        description: Filter to fetch the resources updated after this time. Timestamp format is ISO 8601 YYYY-MM-DDTHH:MM:SSZ
      - name: external_id
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: External resource identifier to match exactly.
          title: External Id
        description: External resource identifier to match exactly.
      - name: external_id:in
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: External resource identifiers to match. Comma-separated list.
          title: External Id:In
        description: External resource identifiers to match. Comma-separated list.
      - name: resource_type
        in: query
        required: false
        schema:
          anyOf:
          - $ref: '#/components/schemas/ResourceTypeEnum'
          - type: 'null'
          description: Resource type to match exactly.
          title: Resource Type
        description: Resource type to match exactly.
      - name: resource_type:in
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Resource types to match. Comma-separated list.
          title: Resource Type:In
        description: Resource types to match. Comma-separated list.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourceOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/resources/resource/{resource_id}:
    put:
      tags:
      - API Resource
      summary: Update Resource
      description: Update an existing resource.
      operationId: Update_resource_v1_resources_resource__resource_id__put
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/DriverResourceInput'
              - $ref: '#/components/schemas/TractorResourceInput'
              - $ref: '#/components/schemas/TruckResourceInput'
              - $ref: '#/components/schemas/VanResourceInput'
              - $ref: '#/components/schemas/TrailerResourceInput'
              - $ref: '#/components/schemas/FullTrailerResourceInput'
              - $ref: '#/components/schemas/ChassisResourceInput'
              - $ref: '#/components/schemas/ContainerResourceInput'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/DriverResourceOutput'
                - $ref: '#/components/schemas/TractorResourceOutput'
                - $ref: '#/components/schemas/TruckResourceOutput'
                - $ref: '#/components/schemas/VanResourceOutput'
                - $ref: '#/components/schemas/TrailerResourceOutput'
                - $ref: '#/components/schemas/FullTrailerResourceOutput'
                - $ref: '#/components/schemas/ChassisResourceOutput'
                - $ref: '#/components/schemas/ContainerResourceOutput'
                title: Response Update Resource V1 Resources Resource  Resource Id  Put
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    patch:
      tags:
      - API Resource
      summary: Patch Resource
      description: Partially update an existing resource.
      operationId: Patch_resource_v1_resources_resource__resource_id__patch
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/PartialDriverResourceInput'
              - $ref: '#/components/schemas/PartialTractorResourceInput'
              - $ref: '#/components/schemas/PartialTruckResourceInput'
              - $ref: '#/components/schemas/PartialVanResourceInput'
              - $ref: '#/components/schemas/PartialTrailerResourceInput'
              - $ref: '#/components/schemas/PartialFullTrailerResourceInput'
              - $ref: '#/components/schemas/PartialChassisResourceInput'
              - $ref: '#/components/schemas/PartialBaseResourceInput'
              title: Body
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/DriverResourceOutput'
                - $ref: '#/components/schemas/TractorResourceOutput'
                - $ref: '#/components/schemas/TruckResourceOutput'
                - $ref: '#/components/schemas/VanResourceOutput'
                - $ref: '#/components/schemas/TrailerResourceOutput'
                - $ref: '#/components/schemas/FullTrailerResourceOutput'
                - $ref: '#/components/schemas/ChassisResourceOutput'
                - $ref: '#/components/schemas/ContainerResourceOutput'
                title: Response Patch Resource V1 Resources Resource  Resource Id  Patch
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    delete:
      tags:
      - API Resource
      summary: Archive Resource
      description: Archive a resource
      operationId: Archive_resource_v1_resources_resource__resource_id__delete
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    get:
      tags:
      - API Resource
      summary: Get Resource
      description: Fetches a resource
      operationId: Get_resource_v1_resources_resource__resource_id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/DriverResourceOutput'
                - $ref: '#/components/schemas/TractorResourceOutput'
                - $ref: '#/components/schemas/TruckResourceOutput'
                - $ref: '#/components/schemas/VanResourceOutput'
                - $ref: '#/components/schemas/TrailerResourceOutput'
                - $ref: '#/components/schemas/FullTrailerResourceOutput'
                - $ref: '#/components/schemas/ChassisResourceOutput'
                - $ref: '#/components/schemas/ContainerResourceOutput'
                title: Response Get Resource V1 Resources Resource  Resource Id  Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/resources/resource/{resource_id}/unavailability:
    get:
      tags:
      - API Resource
      summary: List Resource Unavailabilities
      description: List all unavailabilities for a resource
      operationId: List_resource_unavailabilities_v1_resources_resource__resource_id__unavailability_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: start_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch unavailabilities after this time
          title: Start Time
        description: Filter to fetch unavailabilities after this time
      - name: end_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch unavailabilities before this time
          title: End Time
        description: Filter to fetch unavailabilities before this time
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourceUnavailabilityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    post:
      tags:
      - API Resource
      summary: Create Resource Unavailabilities
      description: Create a new unavailability for a resource.
      operationId: Create_resource_unavailabilities_v1_resources_resource__resource_id__unavailability_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceUnavailabilityInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnavailabilityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/resources/resource/{resource_id}/unavailability/{id}:
    get:
      tags:
      - API Resource
      summary: Get Resource Unavailability
      description: Fetch a resource unavailability
      operationId: Get_resource_unavailability_v1_resources_resource__resource_id__unavailability__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnavailabilityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    put:
      tags:
      - API Resource
      summary: Update Resource Unavailabilities
      description: Update an existing unavailability for a resource.
      operationId: Update_resource_unavailabilities_v1_resources_resource__resource_id__unavailability__id__put
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceUnavailabilityInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceUnavailabilityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    delete:
      tags:
      - API Resource
      summary: Delete Resource Unavailabilities
      description: Delete a resource unavailability
      operationId: Delete_resource_unavailabilities_v1_resources_resource__resource_id__unavailability__id__delete
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/resources/resource/{resource_id}/validity:
    get:
      tags:
      - API Resource
      summary: List Resource Validities
      description: List all validities for a resource
      operationId: List_resource_validities_v1_resources_resource__resource_id__validity_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      - name: start_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch unavailabilities after this time
          title: Start Time
        description: Filter to fetch unavailabilities after this time
      - name: end_time
        in: query
        required: false
        schema:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          description: Filter to fetch unavailabilities before this time
          title: End Time
        description: Filter to fetch unavailabilities before this time
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourceValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    post:
      tags:
      - API Resource
      summary: Create Resource Validity Request
      description: Create a new validity request for a resource.
      operationId: Create_resource_validity_request_v1_resources_resource__resource_id__validity_post
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceValidityInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/resources/resource/{resource_id}/validity/{id}:
    get:
      tags:
      - API Resource
      summary: Get Resource Validity
      description: Fetches a specific validity for a resource
      operationId: Get_resource_validity_v1_resources_resource__resource_id__validity__id__get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    put:
      tags:
      - API Resource
      summary: Update Resource Validity
      description: Update an existing validity for a resource.
      operationId: Update_resource_validity_v1_resources_resource__resource_id__validity__id__put
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceValidityInput'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceValidityOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
    delete:
      tags:
      - API Resource
      summary: Delete Resource Validity
      description: Delete a resource validity
      operationId: Delete_resource_validity_v1_resources_resource__resource_id__validity__id__delete
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '204':
          description: Successful Response
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/resources/resource/{resource_id}/validity/{id}/documents:
    get:
      tags:
      - API Resource
      summary: Get Resource Validity Documents
      description: Fetch all documents associated with a specific resource validity.
      operationId: Get_resource_validity_documents_v1_resources_resource__resource_id__validity__id__documents_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: resource_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Resource Id
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
          title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
                title: Response Get Resource Validity Documents V1 Resources Resource  Resource Id  Validity  Id  Documents Get
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
  /v1/resources/resource_groups:
    get:
      tags:
      - API Resource
      summary: List Resource Groups
      description: List the resource groups resources can be allocated to. Archived resource groups are not included.
      operationId: List_resource_groups_v1_resources_resource_groups_get
      security:
      - oAuth2ClientCredentials: []
      parameters:
      - name: cursor
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Pagination cursor. Mutually exclusive with other query parameters
          title: Cursor
        description: Pagination cursor. Mutually exclusive with other query parameters
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResourceGroupOutput'
        '400':
          description: Bad Request — invalid input or malformed request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationErrorResponse'
        '401':
          description: Unauthorized — missing or invalid authentication credentials
        '403':
          description: Forbidden — insufficient permissions for this operation
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
        '429':
          description: Too Many Requests — rate limit exceeded. See the `Retry-After` header
        '500':
          description: Internal Server Error
        '503':
          description: Service Unavailable — temporarily unable to handle the request
components:
  schemas:
    PartialChassisResourceInput:
      properties:
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntityReference'
          - type: 'null'
          description: Billing entity associated with the resource, defaults to default billing entity if not provided
        extras:
          anyOf:
          - items:
              $ref: '#/components/schemas/ResourceExtraInput'
            type: array
          - type: 'null'
          title: Extras
          description: Stop extras this resource is compatible with. Replaces the existing list when provided. Send an empty list to clear all compatible extras.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
            pattern: ^[a-z]{2}(-[A-Z]{2})?$
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        chassis:
          anyOf:
          - $ref: '#/components/schemas/ChassisProperties-Input'
          - type: 'null'
          description: Chassis specific properties
        resource_group:
          anyOf:
          - $ref: '#/components/schemas/ResourceGroupReference'
          - type: 'null'
          description: Resource group to allocate the resource to. Set to null to remove the resource from its current group; omit the field to leave the allocation unchanged. A resource can belong to multiple groups (see `resource_groups` on the resource); this field manages only its primary allocation.
      type: object
      title: PartialChassisResourceInput
    ChassisProperties-Input:
      properties:
        tare_weight_kg:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Tare Weight Kg
          description: Tare weight of the chassis in kg
          examples:
          - 5000
        exterior_length_m:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Exterior Length M
          description: Exterior length of the chassis in meter
          examples:
          - 12
        exterior_width_m:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Exterior Width M
          description: Exterior width of the chassis in meter
          examples:
          - 2.5
        exterior_height_m:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Exterior Height M
          description: Exterior height of the chassis in meter
          examples:
          - 1.5
        gross_weight_vehicle_rating_weight_kg:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Gross Weight Vehicle Rating Weight Kg
          description: Gross vehicle weight rating of the chassis in kg
          examples:
          - 30000
        license_plate:
          anyOf:
          - type: string
          - type: 'null'
          title: License Plate
          description: License plate of the chassis
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: Model of the chassis
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          title: Manufacturer
          description: Manufacturer of the chassis
        vin_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vin Number
          description: VIN number of the chassis
        axle_configuration:
          anyOf:
          - type: string
            enum:
            - AC_12_TRAILER
            - AC_10_TRAILER
            - AC_8_TRAILER
            - AC_6_TRAILER
            - AC_4_TRAILER
            - AC_2_TRAILER
          - type: 'null'
          title: Axle Configuration
          description: Axle configuration of the chassis
      type: object
      title: ChassisProperties
    TrailerResourceInput:
      properties:
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntityReference'
          - type: 'null'
          description: Billing entity associated with the resource, defaults to default billing entity if not provided
        extras:
          anyOf:
          - items:
              $ref: '#/components/schemas/ResourceExtraInput'
            type: array
          - type: 'null'
          title: Extras
          description: Stop extras this resource is compatible with. Replaces the existing list when provided. Send an empty list to clear all compatible extras.
        name:
          type: string
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
            pattern: ^[a-z]{2}(-[A-Z]{2})?$
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        trailer:
          anyOf:
          - $ref: '#/components/schemas/TrailerProperties-Input'
          - type: 'null'
          description: Trailer specific properties
      type: object
      required:
      - name
      title: TrailerResourceInput
    ResourceValidityReason:
      type: string
      enum:
      - EUROVIGNET
      - FUEL_CARD
      - FINE
      - CONTAINER_CERTIFICATE
      - CONTAINER_DAMAGE_REPORT
      - CONTAINER_INSPECTION_REPORT
      - CONTAINER_LEASE
      - CONTAINER_MAINTENANCE_REPORT
      - CONTAINER_REPAIR_REPORT
      - CONTAINER_TANK_TEST_CERTIFICATE_2Y5
      - CONTAINER_TANK_TEST_CERTIFICATE_5Y
      - CONTAINER_TANK_TEST_CERTIFICATE
      - DRIVER_ADR_EXTRA_TRAINING
      - DRIVER_ADR_LICENSE
      - DRIVER_AEO_REGULATED_AGENT_LICENSE
      - DRIVER_CARD
      - DRIVER_CIVIL_LIABILITY_EXPLOITATION
      - DRIVER_CIVIL_LIABILITY_INSURANCE
      - DRIVER_CODE_95
      - DRIVER_DRIVING_LICENSE
      - DRIVER_IDENTITY_CARD
      - DRIVER_IMI_PORTAL
      - DRIVER_INSURANCE
      - DRIVER_MEDICAL_EXAM
      - DRIVER_PERSONAL_PROTECTIVE_EQUIPMENT
      - DRIVER_RECUP
      - DRIVER_REFUGEE_TRAINING_LICENSE
      - DRIVER_SHIFT_PATTERN
      - DRIVER_SICK_NOTE
      - DRIVER_TRAINING
      - BBS_CERTIFICATE
      - FORKLIFT_LICENSE
      - PAYSCALE_DRIVER
      - VCA_BASIC_SAFETY
      - TOLL_CARD
      - SAFETY_CERTIFICATE_TERMINAL
      - EXCEPTIONAL_TRANSPORT_LICENSE
      - A1_DOCUMENT
      - DRIVER_CPC_CARD
      - DRIVER_POSTING_DOCUMENT
      - SITE_MOVEMENT_SHEET
      - DRIVER_PARENTAL_LEAVE
      - DRIVER_JOB_APPLICATION_LEAVE
      - DRIVER_PUBLIC_HOLIDAY
      - DRIVER_SOCIAL_LEAVE
      - DRIVER_UNION_LEAVE
      - DRIVER_LONG_HEAVY_VEHICLE_CERT
      - DRIVER_CARGOCARD_ACCESS_CARD
      - DRIVER_ALFAPASS
      - DRIVER_OFF_SHIFT_PATTERN
      - DRIVER_REDUCED_WORKING_HOURS_SCHEME
      - DRIVER_UNAUTHORISED_ABSENCE
      - VEHICLE_MOT_TEST
      - VEHICLE_REGISTRATION
      - VEHICLE_INSURANCE_CERTIFICATE
      - VEHICLE_TRANSPORT_LICENSE
      - VEHICLE_DAMAGE_REPORT
      - VEHICLE_MAINTENANCE_REPORT
      - VEHICLE_ADR_CERTIFICATE
      - VEHICLE_REPAIR_REPORT
      - VEHICLE_TACHO
      - VEHICLE_TIR
      - VEHICLE_PHOTO
      - VEHICLE_12_WEEKLY_CHECK
      - VEHICLE_FIRE_EXTINGUISHER_SERVICE
      - VEHICLE_UK_HGV_LEVY
      - VEHICLE_ATP_CERTIFICATE
      - VEHICLE_FRIDGE_MOTOR
      - OVERSIZE_WL_PERMIT
      - ROADTAX
      - CERTIFICATE_OF_CONFORMITY
      - BRAKE_TEST_CERTIFICATE
      - BREAK_TEST_CERTIFICATE
      - VEHICLE_IDENTIFICATION_REPORT
      - VEHICLE_FRC_CERTIFICATE
      - VEHICLE_GERMAN_SECURITY_INSPECTION
      - VEHICLE_GERMAN_VEHICLE_INSPECTION
      - CITERNE_CLEANING_CERTIFICATE
      - HEAVY_LOAD_BE
      - HEAVY_LOAD_DE
      - HEAVY_LOAD_FR
      - XL_CERTIFICATE
      - VEHICLE_SERVICE
      - VEHICLE_HIRE
      - VEHICLE_BRAKE_TEST
      - VEHICLE_HYDRAULIC_INSPECTION
      - VEHICLE_LIFT_OPS_EQUIP_REGULATIONS
      - VEHICLE_PRESSURE_TEST
      - VEHICLE_TACHOGRAPH_CALIBRATION
      title: ResourceValidityReason
    ResourceUnavailabilityInput:
      properties:
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the unavailability
        start_time:
          type: string
          format: date-time
          title: Start Time
          description: Start time of the unavailability
        end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: End Time
          description: End time of the unavailability, leave empty for open interval
        reason:
          $ref: '#/components/schemas/UnavailabilityReason'
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
      type: object
      required:
      - start_time
      - reason
      title: ResourceUnavailabilityInput
    DriverDocumentTypes:
      type: string
      enum:
      - DocumentType.A1_DOCUMENT
      - DocumentType.CARGO_INSURANCE
      - DocumentType.BBS_CERTIFICATE
      - DocumentType.COMMUNICATION_SUBCONTRACTOR
      - DocumentType.DOMESTIC_CARGO_INSURANCE
      - DocumentType.DRIVER_ADR_LICENSE
      - DocumentType.DRIVER_AEO_REGULATED_AGENT_LICENSE
      - DocumentType.DRIVER_ALFAPASS
      - DocumentType.DRIVER_CARD
      - DocumentType.DRIVER_CARGOCARD_ACCESS_CARD
      - DocumentType.DRIVER_CIVIL_LIABILITY_EXPLOITATION
      - DocumentType.DRIVER_CIVIL_LIABILITY_INSURANCE
      - DocumentType.DRIVER_CODE_95
      - DocumentType.DRIVER_CPC_CARD
      - DocumentType.DRIVER_DRIVING_LICENSE
      - DocumentType.DRIVER_IDENTITY_CARD
      - DocumentType.DRIVER_IMI_PORTAL
      - DocumentType.DRIVER_INSURANCE
      - DocumentType.DRIVER_LONG_HEAVY_VEHICLE_CERT
      - DocumentType.DRIVER_MEDICAL_EXAM
      - DocumentType.DRIVER_PERSONAL_PROTECTIVE_EQUIPMENT
      - DocumentType.DRIVER_POSTING_DOCUMENT
      - DocumentType.DRIVER_REFUGEE_TRAINING_LICENSE
      - DocumentType.DRIVER_SICK_NOTE
      - DocumentType.DRIVER_TRAINING
      - DocumentType.EUROVIGNET
      - DocumentType.EXCEPTIONAL_TRANSPORT_LICENSE
      - DocumentType.FINE
      - DocumentType.FORKLIFT_LICENSE
      - DocumentType.FUEL_CARD
      - DocumentType.OTHER
      - DocumentType.PAYSCALE_DRIVER
      - DocumentType.SAFETY_CERTIFICATE_TERMINAL
      - DocumentType.SITE_MOVEMENT_SHEET
      - DocumentType.TOLL_CARD
      - DocumentType.VCA_BASIC_SAFETY
      - DocumentType.VEHICLE_ADR_CERTIFICATE
      title: DriverDocumentTypes
    BillingEntityReference:
      properties:
        code:
          type: string
          title: Code
          description: Code of the reference
      type: object
      required:
      - code
      title: BillingEntityReference
    LocationReference:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Identifier of the location
      type: object
      required:
      - id
      title: LocationReference
    BillingEntity:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the billing entity in Qargo.
        legal_name:
          type: string
          title: Legal Name
          description: Legal name of the billing entity.
          examples:
          - Qargo BV
        vat_number:
          type: string
          title: Vat Number
          description: VAT number of the billing entity.
          examples:
          - NL123456789B01
        code:
          type: string
          title: Code
          description: Code of the billing entity.
          examples:
          - QARGO
        company_registration_number:
          type: string
          title: Company Registration Number
          description: Company registration number of the billing entity.
          examples:
          - '12345678'
        is_default:
          type: boolean
          title: Is Default
          description: Indicates whether this billing entity is the default one.
          default: false
      type: object
      required:
      - id
      - legal_name
      - vat_number
      - code
      - company_registration_number
      title: BillingEntity
    PartialTractorResourceInput:
      properties:
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntityReference'
          - type: 'null'
          description: Billing entity associated with the resource, defaults to default billing entity if not provided
        extras:
          anyOf:
          - items:
              $ref: '#/components/schemas/ResourceExtraInput'
            type: array
          - type: 'null'
          title: Extras
          description: Stop extras this resource is compatible with. Replaces the existing list when provided. Send an empty list to clear all compatible extras.
        name:
          anyOf:
          - type: string
          - type: 'null'
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
            pattern: ^[a-z]{2}(-[A-Z]{2})?$
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        tractor:
          anyOf:
          - $ref: '#/components/schemas/TractorProperties-Input'
          - type: 'null'
          description: Tractor specific properties
        resource_group:
          anyOf:
          - $ref: '#/components/schemas/ResourceGroupReference'
          - type: 'null'
          description: Resource group to allocate the resource to. Set to null to remove the resource from its current group; omit the field to leave the allocation unchanged. A resource can belong to multiple groups (see `resource_groups` on the resource); this field manages only its primary allocation.
      type: object
      title: PartialTractorResourceInput
    TractorResourceOutput:
      properties:
        row_id:
          type: string
          format: uuid
          title: Row Id
          description: Identifier of the reference
        name:
          type: string
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntity'
          - type: 'null'
          description: Billing entity associated with the resource
        extras:
          items:
            $ref: '#/components/schemas/ResourceExtraOutput'
          type: array
          title: Extras
          description: Stop extras this resource is compatible with
        is_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Active
          description: Is the resource active
        is_external_resource:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is External Resource
          description: Read-only. True if this is a non-owned (subcontractor) resource. When this resource appears inside a trip, name / license_plate / container_number reflect the per-trip override value if one was set on the resource allocation; otherwise the resource master value is returned. `null` indicates the value is not yet projected — treat as internal for backwards compatibility.
          examples:
          - true
        timestamp_updated:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Timestamp Updated
          description: Timestamp of the last update of the resource
        resource_groups:
          items:
            $ref: '#/components/schemas/ResourceGroupOutput'
          type: array
          title: Resource Groups
          description: Resource groups this resource currently belongs to (deduplicated and sorted by name). A resource can belong to more than one group. Active allocations are included regardless of their validity window (scheduled, future, or expired); archived allocations are excluded.
        tractor:
          anyOf:
          - $ref: '#/components/schemas/TractorProperties-Output'
          - type: 'null'
          description: Tractor specific properties
      type: object
      required:
      - row_id
      - name
      title: TractorResourceOutput
    ResourceValidityOutput:
      properties:
        start_time:
          type: string
          format: date-time
          title: Start Time
          description: Start time of the validity
        end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: End Time
          description: End time of the validity from a planning perspective
        legal_end_time:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Legal End Time
          description: End time of the validity from a legal perspective
        generate_unavailability:
          type: boolean
          title: Generate Unavailability
          description: Generate a planning unavailability once the validity end time has passed
          default: false
        type:
          $ref: '#/components/schemas/ResourceValidityReason'
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: ID of the validity in the external master data system
        description:
          anyOf:
          - type: string
          - type: 'null'
          title: Description
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the validity
      type: object
      required:
      - start_time
      - type
      - id
      title: ResourceValidityOutput
    Document:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the document
        name:
          type: string
          title: Name
          description: Name of the document
        type:
          type: string
          title: Type
          description: Type of the document
        download_url:
          type: string
          title: Download Url
          description: Relative URL from the base URL to download the document
          default: ''
        subject_type:
          type: string
          title: Subject Type
          description: Linked subject of the document
        content_type:
          anyOf:
          - type: string
          - type: 'null'
          title: Content Type
          description: Content type of the document
      type: object
      required:
      - id
      - name
      - type
      - subject_type
      title: Document
    ContainerProperties:
      properties:
        container_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Container Number
          description: Container number
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          title: Manufacturer
          description: Manufacturer of the container
        standard_size:
          anyOf:
          - type: string
            enum:
            - FEET_20
            - FEET_23
            - FEET_24
            - FEET_25
            - FEET_26
            - FEET_30
            - FEET_35
            - FEET_40
            - FEET_45
          - type: 'null'
          title: Standard Size
          description: Standard size of the container
        iso_code:
          anyOf:
          - type: string
            maxLength: 4
          - type: 'null'
          title: Iso Code
          description: ISO 6346 container type code (e.g. '22G1', '45G1')
      type: object
      title: ContainerProperties
    TrailerResourceOutput:
      properties:
        row_id:
          type: string
          format: uuid
          title: Row Id
          description: Identifier of the reference
        name:
          type: string
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntity'
          - type: 'null'
          description: Billing entity associated with the resource
        extras:
          items:
            $ref: '#/components/schemas/ResourceExtraOutput'
          type: array
          title: Extras
          description: Stop extras this resource is compatible with
        is_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Active
          description: Is the resource active
        is_external_resource:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is External Resource
          description: Read-only. True if this is a non-owned (subcontractor) resource. When this resource appears inside a trip, name / license_plate / container_number reflect the per-trip override value if one was set on the resource allocation; otherwise the resource master value is returned. `null` indicates the value is not yet projected — treat as internal for backwards compatibility.
          examples:
          - true
        timestamp_updated:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Timestamp Updated
          description: Timestamp of the last update of the resource
        resource_groups:
          items:
            $ref: '#/components/schemas/ResourceGroupOutput'
          type: array
          title: Resource Groups
          description: Resource groups this resource currently belongs to (deduplicated and sorted by name). A resource can belong to more than one group. Active allocations are included regardless of their validity window (scheduled, future, or expired); archived allocations are excluded.
        trailer:
          anyOf:
          - $ref: '#/components/schemas/TrailerProperties-Output'
          - type: 'null'
          description: Trailer specific properties
      type: object
      required:
      - row_id
      - name
      title: TrailerResourceOutput
    ListResourceValidityOutput:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        items:
          items:
            $ref: '#/components/schemas/ResourceValidityOutput'
          type: array
          title: Items
      type: object
      required:
      - items
      title: ListResourceValidityOutput
    ContainerResourceOutput:
      properties:
        row_id:
          type: string
          format: uuid
          title: Row Id
          description: Identifier of the reference
        name:
          type: string
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntity'
          - type: 'null'
          description: Billing entity associated with the resource
        extras:
          items:
            $ref: '#/components/schemas/ResourceExtraOutput'
          type: array
          title: Extras
          description: Stop extras this resource is compatible with
        is_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Active
          description: Is the resource active
        is_external_resource:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is External Resource
          description: Read-only. True if this is a non-owned (subcontractor) resource. When this resource appears inside a trip, name / license_plate / container_number reflect the per-trip override value if one was set on the resource allocation; otherwise the resource master value is returned. `null` indicates the value is not yet projected — treat as internal for backwards compatibility.
          examples:
          - true
        timestamp_updated:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Timestamp Updated
          description: Timestamp of the last update of the resource
        resource_groups:
          items:
            $ref: '#/components/schemas/ResourceGroupOutput'
          type: array
          title: Resource Groups
          description: Resource groups this resource currently belongs to (deduplicated and sorted by name). A resource can belong to more than one group. Active allocations are included regardless of their validity window (scheduled, future, or expired); archived allocations are excluded.
        container:
          anyOf:
          - $ref: '#/components/schemas/ContainerProperties'
          - type: 'null'
          description: Container specific properties
      type: object
      required:
      - row_id
      - name
      title: ContainerResourceOutput
    VanProperties-Input:
      properties:
        capacity_pallet_spaces:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Capacity Pallet Spaces
          description: Capacity of the van in pallet spaces
          examples:
          - 10
        capacity_volume_m3:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Capacity Volume M3
          description: Capacity of the van in cubic meters
          examples:
          - 10
        capacity_weight_kg:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Capacity Weight Kg
          description: Capacity of the van in kg
          examples:
          - 10000
        tare_weight_kg:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Tare Weight Kg
          description: Tare weight of the van in kg
          examples:
          - 10000
        exterior_length_m:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Exterior Length M
          description: Exterior length of the van in meter
          examples:
          - 10
        exterior_width_m:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Exterior Width M
          description: Exterior width of the van in meter
          examples:
          - 5
        exterior_height_m:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Exterior Height M
          description: Exterior height of the van in meter
          examples:
          - 3
        gross_weight_vehicle_rating_weight_kg:
          anyOf:
          - type: number
          - type: string
          - type: 'null'
          title: Gross Weight Vehicle Rating Weight Kg
          description: Gross weight vehicle rating weight of the van in kg
          examples:
          - 10
        license_plate:
          anyOf:
          - type: string
          - type: 'null'
          title: License Plate
          description: License plate of the van
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: Model of the van
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          title: Manufacturer
          description: Manufacturer of the van
        vin_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vin Number
          description: VIN number of the van
        axle_configuration:
          anyOf:
          - type: string
            enum:
            - AC_4_X_2
            - AC_4_X_4
            - AC_6_X_2
            - AC_6_X_4
            - AC_6_X_6
            - AC_8_X_2
            - AC_8_X_4
            - AC_8_X_6
            - AC_10_X_4
            - AC_12_X_4
          - type: 'null'
          title: Axle Configuration
          description: Axle configuration of the van
        emission_class:
          anyOf:
          - type: string
            enum:
            - EURO_1
            - EURO_2
            - EURO_3
            - EURO_4
            - EURO_5
            - EURO_6
          - type: 'null'
          title: Emission Class
          description: Emission class of the van
        fuel_type:
          anyOf:
          - type: string
            enum:
            - DIESEL
            - BIOFUELS
            - LPG
            - ELECTRIC
            - HYBRID_ELECTRIC
          - type: 'null'
          title: Fuel Type
          description: Fuel type of the van
        roof_type:
          anyOf:
          - type: string
            enum:
            - CLOSED
            - OPEN
            - FLATBED
          - type: 'null'
          title: Roof Type
          description: Roof type of the van
      type: object
      title: VanProperties
    TruckProperties-Output:
      properties:
        capacity_pallet_spaces:
          anyOf:
          - type: string
          - type: 'null'
          title: Capacity Pallet Spaces
          description: Capacity of the truck in pallet spaces
          examples:
          - 10
        capacity_volume_m3:
          anyOf:
          - type: string
          - type: 'null'
          title: Capacity Volume M3
          description: Capacity of the truck in cubic meters
          examples:
          - 10
        capacity_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Capacity Weight Kg
          description: Capacity of the truck in kg
          examples:
          - 10000
        tare_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Tare Weight Kg
          description: Tare weight of the truck in kg
          examples:
          - 10000
        exterior_length_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Length M
          description: Exterior length of the truck in meter
          examples:
          - 10
        exterior_width_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Width M
          description: Exterior width of the truck in meter
          examples:
          - 5
        exterior_height_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Height M
          description: Exterior height of the truck in meter
          examples:
          - 3
        gross_weight_vehicle_rating_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Gross Weight Vehicle Rating Weight Kg
          description: Gross weight vehicle rating weight of the truck in kg
          examples:
          - 10
        license_plate:
          anyOf:
          - type: string
          - type: 'null'
          title: License Plate
          description: License plate of the truck
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: Model of the truck
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          title: Manufacturer
          description: Manufacturer of the truck
        vin_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vin Number
          description: VIN number of the truck
        axle_configuration:
          anyOf:
          - type: string
            enum:
            - AC_4_X_2
            - AC_4_X_4
            - AC_6_X_2
            - AC_6_X_4
            - AC_6_X_6
            - AC_8_X_2
            - AC_8_X_4
            - AC_8_X_6
            - AC_10_X_4
            - AC_12_X_4
          - type: 'null'
          title: Axle Configuration
          description: Axle configuration of the truck
        emission_class:
          anyOf:
          - type: string
            enum:
            - EURO_1
            - EURO_2
            - EURO_3
            - EURO_4
            - EURO_5
            - EURO_6
          - type: 'null'
          title: Emission Class
          description: Emission class of the truck
        fuel_type:
          anyOf:
          - type: string
            enum:
            - DIESEL
            - BIOFUELS
            - LPG
            - ELECTRIC
            - HYBRID_ELECTRIC
          - type: 'null'
          title: Fuel Type
          description: Fuel type of the truck
        roof_type:
          anyOf:
          - type: string
            enum:
            - CLOSED
            - OPEN
            - FLATBED
          - type: 'null'
          title: Roof Type
          description: Roof type of the truck
      type: object
      title: TruckProperties
    ListResourceGroupOutput:
      properties:
        next_cursor:
          anyOf:
          - type: string
          - type: 'null'
          title: Next Cursor
        items:
          items:
            $ref: '#/components/schemas/ResourceGroupOutput'
          type: array
          title: Items
      type: object
      required:
      - items
      title: ListResourceGroupOutput
    VanProperties-Output:
      properties:
        capacity_pallet_spaces:
          anyOf:
          - type: string
          - type: 'null'
          title: Capacity Pallet Spaces
          description: Capacity of the van in pallet spaces
          examples:
          - 10
        capacity_volume_m3:
          anyOf:
          - type: string
          - type: 'null'
          title: Capacity Volume M3
          description: Capacity of the van in cubic meters
          examples:
          - 10
        capacity_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Capacity Weight Kg
          description: Capacity of the van in kg
          examples:
          - 10000
        tare_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Tare Weight Kg
          description: Tare weight of the van in kg
          examples:
          - 10000
        exterior_length_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Length M
          description: Exterior length of the van in meter
          examples:
          - 10
        exterior_width_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Width M
          description: Exterior width of the van in meter
          examples:
          - 5
        exterior_height_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Height M
          description: Exterior height of the van in meter
          examples:
          - 3
        gross_weight_vehicle_rating_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Gross Weight Vehicle Rating Weight Kg
          description: Gross weight vehicle rating weight of the van in kg
          examples:
          - 10
        license_plate:
          anyOf:
          - type: string
          - type: 'null'
          title: License Plate
          description: License plate of the van
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: Model of the van
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          title: Manufacturer
          description: Manufacturer of the van
        vin_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vin Number
          description: VIN number of the van
        axle_configuration:
          anyOf:
          - type: string
            enum:
            - AC_4_X_2
            - AC_4_X_4
            - AC_6_X_2
            - AC_6_X_4
            - AC_6_X_6
            - AC_8_X_2
            - AC_8_X_4
            - AC_8_X_6
            - AC_10_X_4
            - AC_12_X_4
          - type: 'null'
          title: Axle Configuration
          description: Axle configuration of the van
        emission_class:
          anyOf:
          - type: string
            enum:
            - EURO_1
            - EURO_2
            - EURO_3
            - EURO_4
            - EURO_5
            - EURO_6
          - type: 'null'
          title: Emission Class
          description: Emission class of the van
        fuel_type:
          anyOf:
          - type: string
            enum:
            - DIESEL
            - BIOFUELS
            - LPG
            - ELECTRIC
            - HYBRID_ELECTRIC
          - type: 'null'
          title: Fuel Type
          description: Fuel type of the van
        roof_type:
          anyOf:
          - type: string
            enum:
            - CLOSED
            - OPEN
            - FLATBED
          - type: 'null'
          title: Roof Type
          description: Roof type of the van
      type: object
      title: VanProperties
    VanResourceOutput:
      properties:
        row_id:
          type: string
          format: uuid
          title: Row Id
          description: Identifier of the reference
        name:
          type: string
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntity'
          - type: 'null'
          description: Billing entity associated with the resource
        extras:
          items:
            $ref: '#/components/schemas/ResourceExtraOutput'
          type: array
          title: Extras
          description: Stop extras this resource is compatible with
        is_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Active
          description: Is the resource active
        is_external_resource:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is External Resource
          description: Read-only. True if this is a non-owned (subcontractor) resource. When this resource appears inside a trip, name / license_plate / container_number reflect the per-trip override value if one was set on the resource allocation; otherwise the resource master value is returned. `null` indicates the value is not yet projected — treat as internal for backwards compatibility.
          examples:
          - true
        timestamp_updated:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Timestamp Updated
          description: Timestamp of the last update of the resource
        resource_groups:
          items:
            $ref: '#/components/schemas/ResourceGroupOutput'
          type: array
          title: Resource Groups
          description: Resource groups this resource currently belongs to (deduplicated and sorted by name). A resource can belong to more than one group. Active allocations are included regardless of their validity window (scheduled, future, or expired); archived allocations are excluded.
        van:
          anyOf:
          - $ref: '#/components/schemas/VanProperties-Output'
          - type: 'null'
          description: Van specific properties
      type: object
      required:
      - row_id
      - name
      title: VanResourceOutput
    DriverResourceOutput:
      properties:
        row_id:
          type: string
          format: uuid
          title: Row Id
          description: Identifier of the reference
        name:
          type: string
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntity'
          - type: 'null'
          description: Billing entity associated with the resource
        extras:
          items:
            $ref: '#/components/schemas/ResourceExtraOutput'
          type: array
          title: Extras
          description: Stop extras this resource is compatible with
        is_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Active
          description: Is the resource active
        is_external_resource:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is External Resource
          description: Read-only. True if this is a non-owned (subcontractor) resource. When this resource appears inside a trip, name / license_plate / container_number reflect the per-trip override value if one was set on the resource allocation; otherwise the resource master value is returned. `null` indicates the value is not yet projected — treat as internal for backwards compatibility.
          examples:
          - true
        timestamp_updated:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Timestamp Updated
          description: Timestamp of the last update of the resource
        resource_groups:
          items:
            $ref: '#/components/schemas/ResourceGroupOutput'
          type: array
          title: Resource Groups
          description: Resource groups this resource currently belongs to (deduplicated and sorted by name). A resource can belong to more than one group. Active allocations are included regardless of their validity window (scheduled, future, or expired); archived allocations are excluded.
        driver:
          anyOf:
          - $ref: '#/components/schemas/DriverProperties'
          - type: 'null'
          description: Driver specific properties
      type: object
      required:
      - row_id
      - name
      title: DriverResourceOutput
    ResourceExtraOutput:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the stop extra
        code:
          type: string
          title: Code
          description: Code of the stop extra
        name:
          type: string
          title: Name
          description: Name of the stop extra
      type: object
      required:
      - id
      - code
      - name
      title: ResourceExtraOutput
    ChassisResourceOutput:
      properties:
        row_id:
          type: string
          format: uuid
          title: Row Id
          description: Identifier of the reference
        name:
          type: string
          title: Name
          description: Name of the resource
        external_id:
          anyOf:
          - type: string
          - type: 'null'
          title: External Id
          description: External identifier of the resource
        locale:
          anyOf:
          - type: string
          - type: 'null'
          title: Locale
          description: 'Locale of the resource. Format: ISO 639-1 language code, optionally followed by a dash and ISO 3166-1 alpha-2 country code.'
          examples:
          - en
          - nl
          - en-GB
          - fr-BE
        code:
          anyOf:
          - type: string
          - type: 'null'
          title: Code
          description: Code of the resource
        note:
          anyOf:
          - type: string
          - type: 'null'
          title: Note
          description: Note about the resource
        custom_fields:
          type: object
          title: Custom Fields
          description: User defined additional fields for this resource
        subcontractor:
          anyOf:
          - $ref: '#/components/schemas/CompanyReference'
          - type: 'null'
          description: Company linked to the resource
        integrations:
          anyOf:
          - additionalProperties:
              type: object
            type: object
          - type: 'null'
          title: Integrations
          description: Related integrations for the resource. The key is the unique code of the integration in Qargo
          examples:
          - addsecure1234:
              active: true
              object_id: '1234'
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntity'
          - type: 'null'
          description: Billing entity associated with the resource
        extras:
          items:
            $ref: '#/components/schemas/ResourceExtraOutput'
          type: array
          title: Extras
          description: Stop extras this resource is compatible with
        is_active:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is Active
          description: Is the resource active
        is_external_resource:
          anyOf:
          - type: boolean
          - type: 'null'
          title: Is External Resource
          description: Read-only. True if this is a non-owned (subcontractor) resource. When this resource appears inside a trip, name / license_plate / container_number reflect the per-trip override value if one was set on the resource allocation; otherwise the resource master value is returned. `null` indicates the value is not yet projected — treat as internal for backwards compatibility.
          examples:
          - true
        timestamp_updated:
          anyOf:
          - type: string
            format: date-time
          - type: 'null'
          title: Timestamp Updated
          description: Timestamp of the last update of the resource
        resource_groups:
          items:
            $ref: '#/components/schemas/ResourceGroupOutput'
          type: array
          title: Resource Groups
          description: Resource groups this resource currently belongs to (deduplicated and sorted by name). A resource can belong to more than one group. Active allocations are included regardless of their validity window (scheduled, future, or expired); archived allocations are excluded.
        chassis:
          anyOf:
          - $ref: '#/components/schemas/ChassisProperties-Output'
          - type: 'null'
          description: Chassis specific properties
      type: object
      required:
      - row_id
      - name
      title: ChassisResourceOutput
    ChassisProperties-Output:
      properties:
        tare_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Tare Weight Kg
          description: Tare weight of the chassis in kg
          examples:
          - 5000
        exterior_length_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Length M
          description: Exterior length of the chassis in meter
          examples:
          - 12
        exterior_width_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Width M
          description: Exterior width of the chassis in meter
          examples:
          - 2.5
        exterior_height_m:
          anyOf:
          - type: string
          - type: 'null'
          title: Exterior Height M
          description: Exterior height of the chassis in meter
          examples:
          - 1.5
        gross_weight_vehicle_rating_weight_kg:
          anyOf:
          - type: string
          - type: 'null'
          title: Gross Weight Vehicle Rating Weight Kg
          description: Gross vehicle weight rating of the chassis in kg
          examples:
          - 30000
        license_plate:
          anyOf:
          - type: string
          - type: 'null'
          title: License Plate
          description: License plate of the chassis
        model:
          anyOf:
          - type: string
          - type: 'null'
          title: Model
          description: Model of the chassis
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          title: Manufacturer
          description: Manufacturer of the chassis
        vin_number:
          anyOf:
          - type: string
          - type: 'null'
          title: Vin Number
          description: VIN number of the chassis
        axle_configuration:
          anyOf:
          - type: string
            enum:
            - AC_12_TRAILER
            - AC_10_TRAILER
            - AC_8_TRAILER
            - AC_6_TRAILER
            - AC_4_TRAILER
            - AC_2_TRAILER
          - type: 'null'
          title: Axle Configuration
          description: Axle configuration of the chassis
      type: object
      title: ChassisProperties
    ResourceTypeEnum:
      type: string
      enum:
      - CHASSIS
      - COMPARTMENT
      - CONTAINER
      - DRIVER
      - FERRY
      - FULL_TRAILER
      - HANDLING
      - RIGID
      - SUBCONTRACTOR
      - TRACTOR
      - TRAILER
      - TRAIN
      - VAN
      title: ResourceTypeEnum
    ContainerResourceInput:
      properties:
        billing_entity:
          anyOf:
          - $ref: '#/components/schemas/BillingEntityReference'
          - type: 'null'
          description: Billing entity associated with the resource, defaults to default billing entity if not provided
        extras:
          anyOf:
          - items:
              $ref: '#/components/schemas/ResourceExtraInput'
            type: array
          - type: 'null'
          title: Extras
          description: Stop extras this resource is compatible with. Replaces the existing list when provided. Send an empty list to clear all compatible extras.
        name:
          type: string
          title: Name
[...]
